In [3]:
# upload webscraped data sets 

import pandas as pd
import string
import re
import numpy as np
import datetime as dt
from datetime import datetime

In [4]:
# read all data sets that were webscraped

all_season_results_df = pd.read_csv('all_season_results_final.csv')
all_boxscore_results_df = pd.read_csv('all boxscore results.csv')

In [5]:
all_season_results_df['game_number_team1']=all_season_results_df['game_number_team1'].astype(int)
all_season_results_df['game_number_team2']=all_season_results_df['game_number_team2'].astype(int)
all_season_results_df['home_flag_team2']=all_season_results_df['home_flag_team2'].astype(int)
all_season_results_df['season']=all_season_results_df['season'].astype(int)
all_season_results_df.head()

,date,home_flag_team1,home_flag_team2,score1,score2,season,team1,team2,win_flag_team1,win_flag_team2,game_number_team1,game_number_team2,b2b_flag_team1,b2b_flag_team2,travel_flag_team1,travel_flag_team2
0,1999-02-05,1,0,100,83,1999,ATLANTA HAWKS,CLEVELAND CAVALIERS,1,0,1,1,0,0,0,1
1,1999-02-06,1,0,111,106,1999,ATLANTA HAWKS,NEW JERSEY NETS,1,0,2,1,1,0,0,1
2,1999-02-07,0,1,69,79,1999,ATLANTA HAWKS,NEW JERSEY NETS,0,1,3,2,1,1,1,1
3,1999-02-09,0,1,87,71,1999,ATLANTA HAWKS,CHICAGO BULLS,1,0,4,3,0,0,1,1
4,1999-02-11,1,0,100,88,1999,ATLANTA HAWKS,CHARLOTTE HORNETS,1,0,5,5,0,1,1,1

In [6]:
# creating data set that only includes season games, and a unique key that represents the team, season, and game number
# join data sets based on team1_gameid and team2_gameid

all_season_results_df = all_season_results_df[all_season_results_df.game_number_team1 <= 82]
all_season_results_df['team1_game_id'] = all_season_results_df['team1'] + '-' + all_season_results_df['season'].apply(str) + '-' + all_season_results_df['game_number_team1'].apply(str)
all_season_results_df['team2_game_id'] = all_season_results_df['team2'] + '-' + all_season_results_df['season'].apply(str) + '-' + all_season_results_df['game_number_team2'].apply(str)
all_season_results_df.head()

,date,home_flag_team1,home_flag_team2,score1,score2,season,team1,team2,win_flag_team1,win_flag_team2,game_number_team1,game_number_team2,b2b_flag_team1,b2b_flag_team2,travel_flag_team1,travel_flag_team2,team1_game_id,team2_game_id
0,1999-02-05,1,0,100,83,1999,ATLANTA HAWKS,CLEVELAND CAVALIERS,1,0,1,1,0,0,0,1,ATLANTA HAWKS-1999-1,CLEVELAND CAVALIERS-1999-1
1,1999-02-06,1,0,111,106,1999,ATLANTA HAWKS,NEW JERSEY NETS,1,0,2,1,1,0,0,1,ATLANTA HAWKS-1999-2,NEW JERSEY NETS-1999-1
2,1999-02-07,0,1,69,79,1999,ATLANTA HAWKS,NEW JERSEY NETS,0,1,3,2,1,1,1,1,ATLANTA HAWKS-1999-3,NEW JERSEY NETS-1999-2
3,1999-02-09,0,1,87,71,1999,ATLANTA HAWKS,CHICAGO BULLS,1,0,4,3,0,0,1,1,ATLANTA HAWKS-1999-4,CHICAGO BULLS-1999-3
4,1999-02-11,1,0,100,88,1999,ATLANTA HAWKS,CHARLOTTE HORNETS,1,0,5,5,0,1,1,1,ATLANTA HAWKS-1999-5,CHARLOTTE HORNETS-1999-5

- Types of features:
        - For each team and it's opponent
        - Season Stats: % of total games completed, win pct, Offensive Rating, Defensive Rating, Pace        
        - Rolling 10 game stats:
        - Misc stats: current team home/away flag,
        - Team Stats: Home or Away,   
        - Team Record Stats: % of games played this season, Season Win Percentage, Rolling 10 game win %, Rolling 10 game
        Opponent win %, Win Percentage (based on home/away flag) 
        - Opponent Stats: Home or Away, Offensive Efficiency, Defensive Efficiency, Pace 
        - Opponent Record Stats: Season Win Percentage, Rolling 10 game win %, Rolling 10 game Opponent win %,
                                 Win Percentage (based on home/away flag)
        - Matchup Stats: Rolling 10 game win % against Current Opponent

In [7]:

all_boxscore_results_df = all_boxscore_results_df[all_boxscore_results_df.game_number <= 82]
all_boxscore_results_df['game_id'] = all_boxscore_results_df['team'] + '-' + all_boxscore_results_df['season'].apply(str) + '-' + all_boxscore_results_df['game_number'].apply(str)
print(len(all_boxscore_results_df))


# First, create all the advanced metrics for each game:
all_boxscore_results_df['posessions'] = all_boxscore_results_df['attempted_field_goals']+(.4*all_boxscore_results_df['attempted_free_throws'])-all_boxscore_results_df['offensive_rebounds']+all_boxscore_results_df['turnovers']
all_boxscore_results_df['team_ortg'] = all_boxscore_results_df['points']/all_boxscore_results_df['posessions']*100
all_boxscore_results_df['ast%'] = (all_boxscore_results_df['assists']/all_boxscore_results_df['made_field_goals'])
all_boxscore_results_df['true_shooting_attempts'] = all_boxscore_results_df['attempted_field_goals']+(.44*all_boxscore_results_df['attempted_free_throws'])
all_boxscore_results_df['ts%'] = all_boxscore_results_df['points']/(2*all_boxscore_results_df['true_shooting_attempts'])
all_boxscore_results_df['efg%'] = (all_boxscore_results_df['made_field_goals']+(.5*all_boxscore_results_df['made_three_point_field_goals']))/all_boxscore_results_df['attempted_field_goals']

advanced_stats_team = all_boxscore_results_df[['game_id','posessions','team_ortg','ast%','ts%','efg%',
                                               'offensive_rebounds','defensive_rebounds','blocks',
                                               'steals','personal_fouls','turnovers','attempted_field_goals',
                                                'attempted_free_throws','attempted_three_point_field_goals',
                                                'made_field_goals','made_free_throws','made_three_point_field_goals']]
advanced_stats_team1 = advanced_stats_team.rename(columns={"game_id":"game_number_team1",
                                                          "posessions":"poss_team1",
                                                          "team_ortg":"ortg_team1",
                                                          "ast%":"ast%_team1",
                                                          "ts%":"ts%_team1",
                                                          "efg%":"efg%_team1",
                                                          "offensive_rebounds":"oreb_team1",
                                                          "defensive_rebounds":"dreb_team1",
                                                          "blocks":"blk_team1",
                                                          "steals":"stl_team1",
                                                          "personal_fouls":"pf_team1",
                                                          "turnovers":"to_team1",
                                                           "attempted_field_goals": "fga_team1",
                                                           "attempted_free_throws": "fta_team1",
                                                           "attempted_three_point_field_goals":"3fga_team1",
                                                           "made_field_goals": "fgm_team1",
                                                           "made_free_throws": "ftm_team1",
                                                           "made_three_point_field_goals":"3fgm_team1"
                                                          })
advanced_stats_team2 = advanced_stats_team.rename(columns={"game_id":"game_number_team2",
                                                          "posessions":"poss_team2",
                                                          "team_ortg":"ortg_team2",
                                                          "ast%":"ast%_team2",
                                                          "ts%":"ts%_team2",
                                                          "efg%":"efg%_team2",
                                                          "offensive_rebounds":"oreb_team2",
                                                          "defensive_rebounds":"dreb_team2",
                                                          "blocks":"blk_team2",
                                                          "steals":"stl_team2",
                                                          "personal_fouls":"pf_team2",
                                                          "turnovers":"to_team2",
                                                           "attempted_field_goals": "fga_team2",
                                                           "attempted_free_throws": "fta_team2",
                                                           "attempted_three_point_field_goals": "3fga_team2",
                                                           "made_field_goals": "fgm_team2",
                                                           "made_free_throws": "ftm_team2",
                                                           "made_three_point_field_goals": "3fgm_team2"})

51987

In [8]:
advanced_stats_team2.head()

,game_number_team2,poss_team2,ortg_team2,ast%_team2,ts%_team2,efg%_team2,oreb_team2,dreb_team2,blk_team2,stl_team2,pf_team2,to_team2,fga_team2,fta_team2,3fga_team2,fgm_team2,ftm_team2,3fgm_team2
0,ATLANTA HAWKS-1999-1,91.2,109.649123,0.484848,0.556050,0.478873,10,28,8,8,25,13,71,43,10,33,32,2
1,ATLANTA HAWKS-1999-2,93.0,119.354839,0.500000,0.600649,0.477273,12,30,6,4,34,15,66,60,7,30,48,3
2,ATLANTA HAWKS-1999-3,91.4,75.492341,0.391304,0.385733,0.307692,16,20,5,11,31,19,78,26,11,23,21,2
3,ATLANTA HAWKS-1999-4,85.6,101.635514,0.484848,0.525616,0.492857,12,33,7,9,20,16,70,29,7,33,18,3
4,ATLANTA HAWKS-1999-5,89.8,111.358575,0.615385,0.537172,0.500000,12,38,4,5,15,10,79,32,5,39,21,1

In [9]:
# merge data to game results for opponent and current team

game_results = all_season_results_df.merge(advanced_stats_team1, how = 'inner',  left_on='team1_game_id', right_on='game_number_team1')
game_results = game_results.merge(advanced_stats_team2, how = 'inner',  left_on='team2_game_id', right_on='game_number_team2')
game_results.to_csv('game_results.csv')
game_results.columns

Index(['date', 'home_flag_team1', 'home_flag_team2', 'score1', 'score2',
       'season', 'team1', 'team2', 'win_flag_team1', 'win_flag_team2',
       'game_number_team1_x', 'game_number_team2_x', 'b2b_flag_team1',
       'b2b_flag_team2', 'travel_flag_team1', 'travel_flag_team2',
       'team1_game_id', 'team2_game_id', 'game_number_team1_y', 'poss_team1',
       'ortg_team1', 'ast%_team1', 'ts%_team1', 'efg%_team1', 'oreb_team1',
       'dreb_team1', 'blk_team1', 'stl_team1', 'pf_team1', 'to_team1',
       'fga_team1', 'fta_team1', '3fga_team1', 'fgm_team1', 'ftm_team1',
       '3fgm_team1', 'game_number_team2_y', 'poss_team2', 'ortg_team2',
       'ast%_team2', 'ts%_team2', 'efg%_team2', 'oreb_team2', 'dreb_team2',
       'blk_team2', 'stl_team2', 'pf_team2', 'to_team2', 'fga_team2',
       'fta_team2', '3fga_team2', 'fgm_team2', 'ftm_team2', '3fgm_team2'],
      dtype='object')

In [10]:
game_results.head()

,date,home_flag_team1,home_flag_team2,score1,score2,season,team1,team2,win_flag_team1,win_flag_team2,...,blk_team2,stl_team2,pf_team2,to_team2,fga_team2,fta_team2,3fga_team2,fgm_team2,ftm_team2,3fgm_team2
0,1999-02-05,1,0,100,83,1999,ATLANTA HAWKS,CLEVELAND CAVALIERS,1,0,...,0,11,31,17,78,30,3,32,18,1
1,1999-02-06,1,0,111,106,1999,ATLANTA HAWKS,NEW JERSEY NETS,1,0,...,3,7,38,9,91,38,9,38,28,2
2,1999-02-07,0,1,69,79,1999,ATLANTA HAWKS,NEW JERSEY NETS,0,1,...,10,6,27,22,65,33,8,26,25,2
3,1999-02-09,0,1,87,71,1999,ATLANTA HAWKS,CHICAGO BULLS,1,0,...,6,8,28,11,87,14,13,32,5,2
4,1999-02-11,1,0,100,88,1999,ATLANTA HAWKS,CHARLOTTE HORNETS,1,0,...,6,5,24,8,86,16,14,37,12,2

In [11]:
# create more normalized fields as features :
# teams def rating
# reb%, blk%, stl%, tov%, stop%, rolling win %, 

game_results['dreb%_team1'] = (game_results['dreb_team1']/(game_results['dreb_team1']+game_results['oreb_team2']))
game_results['oreb%_team1'] = (game_results['oreb_team1']/(game_results['oreb_team1']+game_results['dreb_team2']))
game_results['stl%_team1'] = (game_results['stl_team1']/game_results['poss_team2'])
game_results['blk%_team1']= (game_results['blk_team1']/game_results['poss_team2'])
game_results['tov%_team1'] = (game_results['to_team1']/game_results['poss_team1'])
game_results['fg%_team1'] =  (game_results['fgm_team1']/game_results['fga_team1'])
game_results['3fg%_team1'] = (game_results['3fgm_team1']/game_results['3fga_team1'])
game_results['ft%_team1'] =  (game_results['ftm_team1']/game_results['fta_team1'])
game_results['dreb%_team2'] = (game_results['dreb_team2']/(game_results['dreb_team2']+game_results['oreb_team1']))
game_results['oreb%_team2'] = (game_results['oreb_team2']/(game_results['oreb_team2']+game_results['dreb_team1']))
game_results['stl%_team2'] = (game_results['stl_team2']/game_results['poss_team1'])
game_results['blk%_team2']= (game_results['blk_team2']/game_results['poss_team1'])
game_results['tov%_team2'] = (game_results['to_team2']/game_results['poss_team2'])
game_results['3fg%_team2'] =  (game_results['3fgm_team2']/game_results['3fga_team2'])
game_results['fg%_team2'] =  (game_results['fgm_team2']/game_results['fga_team2'])
game_results['ft%_team2'] =  (game_results['ftm_team2']/game_results['fta_team2'])

game_results_advanced = game_results[['date','team1','team2','season','game_number_team1_x','game_number_team2_x','team1_game_id','team2_game_id','home_flag_team1', 'home_flag_team2',
                                   'win_flag_team1','win_flag_team2','ortg_team1','ast%_team1','ts%_team1','efg%_team1','poss_team1','b2b_flag_team1', 'travel_flag_team1',
                                   'dreb%_team1','oreb%_team1','stl%_team1','blk%_team1','tov%_team1','fg%_team1','3fg%_team1','ft%_team1',
                                   'ortg_team2','ast%_team2','ts%_team2','efg%_team2','poss_team2','b2b_flag_team2', 'travel_flag_team2',
                                   'dreb%_team2','oreb%_team2','stl%_team2','blk%_team2','tov%_team2','fg%_team2','3fg%_team2','ft%_team2']]
game_results_advanced.head()

,date,team1,team2,season,game_number_team1_x,game_number_team2_x,team1_game_id,team2_game_id,home_flag_team1,home_flag_team2,...,b2b_flag_team2,travel_flag_team2,dreb%_team2,oreb%_team2,stl%_team2,blk%_team2,tov%_team2,fg%_team2,3fg%_team2,ft%_team2
0,1999-02-05,ATLANTA HAWKS,CLEVELAND CAVALIERS,1999,1,1,ATLANTA HAWKS-1999-1,CLEVELAND CAVALIERS-1999-1,1,0,...,0,1,0.714286,0.317073,0.120614,0.000000,0.180851,0.410256,0.333333,0.600000
1,1999-02-06,ATLANTA HAWKS,NEW JERSEY NETS,1999,2,1,ATLANTA HAWKS-1999-2,NEW JERSEY NETS-1999-1,1,0,...,0,1,0.625000,0.361702,0.075269,0.032258,0.091650,0.417582,0.222222,0.736842
2,1999-02-07,ATLANTA HAWKS,NEW JERSEY NETS,1999,3,2,ATLANTA HAWKS-1999-3,NEW JERSEY NETS-1999-2,0,1,...,1,1,0.666667,0.411765,0.065646,0.109409,0.255220,0.400000,0.250000,0.757576
3,1999-02-09,ATLANTA HAWKS,CHICAGO BULLS,1999,4,3,ATLANTA HAWKS-1999-4,CHICAGO BULLS-1999-3,0,1,...,0,1,0.636364,0.340000,0.093458,0.070093,0.127021,0.367816,0.153846,0.357143
4,1999-02-11,ATLANTA HAWKS,CHARLOTTE HORNETS,1999,5,5,ATLANTA HAWKS-1999-5,CHARLOTTE HORNETS-1999-5,1,0,...,1,1,0.700000,0.116279,0.055679,0.066815,0.083857,0.430233,0.142857,0.750000

In [12]:
# create winning percentage metrics: season, b2b/break, travel/home-home, home/away, rolling 8 games
game_results_advanced = game_results_advanced.sort_values('date')

# season
game_results_advanced['wins_team1'] = game_results_advanced.groupby(['team1','season'])['win_flag_team1'].cumsum()
game_results_advanced['win%_team1'] = np.where(game_results_advanced['win_flag_team1']==1,(game_results_advanced['wins_team1']-1)/(game_results_advanced['game_number_team1_x']-1),game_results_advanced['wins_team1']/(game_results_advanced['game_number_team1_x']-1))

# home/away win percentage
game_results_advanced['total_homegames_team1'] = game_results_advanced.groupby(['team1','season'])['home_flag_team1'].cumsum()
game_results_advanced['total_homewins_team1'] = game_results_advanced.groupby(['team1','season','home_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced['away_flag_team1'] = np.where(game_results_advanced['home_flag_team1']==1,0,1)
game_results_advanced['total_awaygames_team1'] = game_results_advanced.groupby(['team1','season'])['away_flag_team1'].cumsum()
game_results_advanced['total_awaywins_team1'] = game_results_advanced.groupby(['team1','season','away_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced.loc[(game_results_advanced['home_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'homeaway_win%_team1'] = (game_results_advanced['total_homewins_team1']-1)/(game_results_advanced['total_homegames_team1']-1)
game_results_advanced.loc[(game_results_advanced['home_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'homeaway_win%_team1'] = (game_results_advanced['total_homewins_team1'])/(game_results_advanced['total_homegames_team1']-1)  
game_results_advanced.loc[(game_results_advanced['away_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'homeaway_win%_team1'] = (game_results_advanced['total_awaywins_team1']-1)/(game_results_advanced['total_awaygames_team1']-1)
game_results_advanced.loc[(game_results_advanced['away_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'homeaway_win%_team1'] = (game_results_advanced['total_awaywins_team1'])/(game_results_advanced['total_awaygames_team1']-1)  

# b2b/break win percentage
game_results_advanced['total_b2bgames_team1'] = game_results_advanced.groupby(['team1','season'])['b2b_flag_team1'].cumsum()
game_results_advanced['total_b2bwins_team1'] = game_results_advanced.groupby(['team1','season','b2b_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced['break_flag_team1'] = np.where(game_results_advanced['b2b_flag_team1']==1,0,1)
game_results_advanced['total_breakgames_team1'] = game_results_advanced.groupby(['team1','season'])['break_flag_team1'].cumsum()
game_results_advanced['total_breakwins_team1'] = game_results_advanced.groupby(['team1','season','break_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced.loc[(game_results_advanced['b2b_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'b2bbreak_win%_team1'] = (game_results_advanced['total_b2bwins_team1']-1)/(game_results_advanced['total_b2bgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['b2b_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'b2bbreak_win%_team1'] = (game_results_advanced['total_b2bwins_team1'])/(game_results_advanced['total_b2bgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['break_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'b2bbreak_win%_team1'] = (game_results_advanced['total_breakwins_team1']-1)/(game_results_advanced['total_breakgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['break_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'b2bbreak_win%_team1'] = (game_results_advanced['total_breakwins_team1'])/(game_results_advanced['total_breakgames_team1']-1)

# travel/non travel win percentage
game_results_advanced['total_travelgames_team1'] = game_results_advanced.groupby(['team1','season'])['travel_flag_team1'].cumsum()
game_results_advanced['total_travelwins_team1'] = game_results_advanced.groupby(['team1','season','travel_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced['notravel_flag_team1'] = np.where(game_results_advanced['travel_flag_team1']==1,0,1)
game_results_advanced['total_notravelgames_team1'] = game_results_advanced.groupby(['team1','season'])['notravel_flag_team1'].cumsum()
game_results_advanced['total_notravelwins_team1'] = game_results_advanced.groupby(['team1','season','notravel_flag_team1'])['win_flag_team1'].cumsum()
game_results_advanced.loc[(game_results_advanced['travel_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'travel_win%_team1'] = (game_results_advanced['total_travelwins_team1']-1)/(game_results_advanced['total_travelgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['travel_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'travel_win%_team1'] = (game_results_advanced['total_travelwins_team1'])/(game_results_advanced['total_travelgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['notravel_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 1)
                          ,'travel_win%_team1'] = (game_results_advanced['total_notravelwins_team1']-1)/(game_results_advanced['total_notravelgames_team1']-1)
game_results_advanced.loc[(game_results_advanced['notravel_flag_team1'] == 1) & (game_results_advanced['win_flag_team1'] == 0)
                          ,'travel_win%_team1'] = (game_results_advanced['total_notravelwins_team1'])/(game_results_advanced['total_notravelgames_team1']-1)


# Rinse and repeat for team2
# season
game_results_advanced['wins_team2'] = game_results_advanced.groupby(['team2','season'])['win_flag_team2'].cumsum()
game_results_advanced['win%_team2'] = np.where(game_results_advanced['win_flag_team2']==1,
                                               (game_results_advanced['wins_team2']-1)/(game_results_advanced['game_number_team2_x']-1),
                                               game_results_advanced['wins_team2']/(game_results_advanced['game_number_team2_x']-1))

# home/away win percentage
game_results_advanced['total_homegames_team2'] = game_results_advanced.groupby(['team2','season'])['home_flag_team2'].cumsum()
game_results_advanced['total_homewins_team2'] = game_results_advanced.groupby(['team2','season','home_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced['away_flag_team2'] = np.where(game_results_advanced['home_flag_team2']==1,0,1)
game_results_advanced['total_awaygames_team2'] = game_results_advanced.groupby(['team2','season'])['away_flag_team2'].cumsum()
game_results_advanced['total_awaywins_team2'] = game_results_advanced.groupby(['team2','season','away_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced.loc[(game_results_advanced['home_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'homeaway_win%_team2'] = (game_results_advanced['total_homewins_team2']-1)/(game_results_advanced['total_homegames_team2']-1)
game_results_advanced.loc[(game_results_advanced['home_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'homeaway_win%_team2'] = (game_results_advanced['total_homewins_team2'])/(game_results_advanced['total_homegames_team2']-1)  
game_results_advanced.loc[(game_results_advanced['away_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'homeaway_win%_team2'] = (game_results_advanced['total_awaywins_team2']-1)/(game_results_advanced['total_awaygames_team2']-1)
game_results_advanced.loc[(game_results_advanced['away_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'homeaway_win%_team2'] = (game_results_advanced['total_awaywins_team2'])/(game_results_advanced['total_awaygames_team2']-1)  

# b2b/break win percentage
game_results_advanced['total_b2bgames_team2'] = game_results_advanced.groupby(['team2','season'])['b2b_flag_team2'].cumsum()
game_results_advanced['total_b2bwins_team2'] = game_results_advanced.groupby(['team2','season','b2b_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced['break_flag_team2'] = np.where(game_results_advanced['b2b_flag_team2']==1,0,1)
game_results_advanced['total_breakgames_team2'] = game_results_advanced.groupby(['team2','season'])['break_flag_team2'].cumsum()
game_results_advanced['total_breakwins_team2'] = game_results_advanced.groupby(['team2','season','break_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced.loc[(game_results_advanced['b2b_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'b2bbreak_win%_team2'] = (game_results_advanced['total_b2bwins_team2']-1)/(game_results_advanced['total_b2bgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['b2b_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'b2bbreak_win%_team2'] = (game_results_advanced['total_b2bwins_team2'])/(game_results_advanced['total_b2bgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['break_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'b2bbreak_win%_team2'] = (game_results_advanced['total_breakwins_team2']-1)/(game_results_advanced['total_breakgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['break_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'b2bbreak_win%_team2'] = (game_results_advanced['total_breakwins_team2'])/(game_results_advanced['total_breakgames_team2']-1)

# travel/non travel win percentage
game_results_advanced['total_travelgames_team2'] = game_results_advanced.groupby(['team2','season'])['travel_flag_team2'].cumsum()
game_results_advanced['total_travelwins_team2'] = game_results_advanced.groupby(['team2','season','travel_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced['notravel_flag_team2'] = np.where(game_results_advanced['travel_flag_team2']==1,0,1)
game_results_advanced['total_notravelgames_team2'] = game_results_advanced.groupby(['team2','season'])['notravel_flag_team2'].cumsum()
game_results_advanced['total_notravelwins_team2'] = game_results_advanced.groupby(['team2','season','notravel_flag_team2'])['win_flag_team2'].cumsum()
game_results_advanced.loc[(game_results_advanced['travel_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'travel_win%_team2'] = (game_results_advanced['total_travelwins_team2']-1)/(game_results_advanced['total_travelgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['travel_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'travel_win%_team2'] = (game_results_advanced['total_travelwins_team2'])/(game_results_advanced['total_travelgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['notravel_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 1)
                          ,'travel_win%_team2'] = (game_results_advanced['total_notravelwins_team2']-1)/(game_results_advanced['total_notravelgames_team2']-1)
game_results_advanced.loc[(game_results_advanced['notravel_flag_team2'] == 1) & (game_results_advanced['win_flag_team2'] == 0)
                          ,'travel_win%_team2'] = (game_results_advanced['total_notravelwins_team2'])/(game_results_advanced['total_notravelgames_team2']-1)

In [13]:
# replace all nulls as 0
descriptives = game_results_advanced.describe()
descriptives = descriptives.transpose()
game_results_advanced.to_csv('game_results_advanced.csv')
game_results_advanced = game_results_advanced.fillna(0)
game_results_advanced = game_results_advanced[(game_results_advanced['win%_team1']<=1) & (game_results_advanced['win%_team2']<=1)]
print(len(game_results_advanced))

51643

In [14]:
game_results_records = game_results_advanced[['date','team1','season','wins_team1','game_number_team1_x','wins_team2','game_number_team2_x','team2','team1_game_id','team2_game_id','ortg_team1','ast%_team1','ts%_team1','efg%_team1','poss_team1',
                                   'dreb%_team1','oreb%_team1','stl%_team1','blk%_team1','tov%_team1','fg%_team1','3fg%_team1','ft%_team1',
                                    'win%_team1','homeaway_win%_team1','b2bbreak_win%_team1','travel_win%_team1',
                                   'ortg_team2','ast%_team2','ts%_team2','efg%_team2','poss_team2',
                                   'dreb%_team2','oreb%_team2','stl%_team2','blk%_team2','tov%_team2','fg%_team2','3fg%_team2','ft%_team2',
                                    'win%_team2','homeaway_win%_team2','b2bbreak_win%_team2','travel_win%_team2','win_flag_team1']]

In [15]:
game_results_records_atl = game_results_records[game_results_records.team1=='ATLANTA HAWKS']
game_results_records.to_csv('game_results_records.csv')
game_results_records_atl.to_csv('game_results_records_atl.csv')
game_results_records.head()

,date,team1,season,wins_team1,game_number_team1_x,wins_team2,game_number_team2_x,team2,team1_game_id,team2_game_id,...,blk%_team2,tov%_team2,fg%_team2,3fg%_team2,ft%_team2,win%_team2,homeaway_win%_team2,b2bbreak_win%_team2,travel_win%_team2,win_flag_team1
0,1999-02-05,ATLANTA HAWKS,1999,1,1,0,1,CLEVELAND CAVALIERS,ATLANTA HAWKS-1999-1,CLEVELAND CAVALIERS-1999-1,...,0.000000,0.180851,0.410256,0.333333,0.600000,0.0,0.0,0.0,0.0,1
4939,1999-02-05,CHARLOTTE HORNETS,1999,0,1,1,1,PHILADELPHIA 76ERS,CHARLOTTE HORNETS-1999-1,PHILADELPHIA 76ERS-1999-1,...,0.115473,0.135747,0.380952,0.250000,0.687500,0.0,0.0,0.0,0.0,0
5710,1999-02-05,CHICAGO BULLS,1999,0,1,1,1,UTAH JAZZ,CHICAGO BULLS-1999-1,UTAH JAZZ-1999-1,...,0.098253,0.213964,0.576271,0.500000,0.785714,0.0,0.0,0.0,0.0,0
47960,1999-02-05,UTAH JAZZ,1999,1,1,0,1,CHICAGO BULLS,UTAH JAZZ-1999-1,CHICAGO BULLS-1999-1,...,0.033784,0.131004,0.435294,0.461538,0.666667,0.0,0.0,0.0,0.0,1
7451,1999-02-05,CLEVELAND CAVALIERS,1999,0,1,1,1,ATLANTA HAWKS,CLEVELAND CAVALIERS-1999-1,ATLANTA HAWKS-1999-1,...,0.085106,0.142544,0.464789,0.200000,0.744186,0.0,0.0,0.0,0.0,0

In [ ]:
## notes 07-03-20 

# rolling 10 games winning pct
# consider creating a class/function to clean code
# consider looking at feature space and correlation matrix (after looking at baseline model results)

# goals for 7-9-20

# wrap up wrangling
#     - qa advanced metrics (looks good here)
#     - include rolling 8 game averages (for advanced and winning pct metrics)
# push code to git
# lecture work
# start modelling (log, random forest, nn, gradientboost, tune all above, ensemble)
# fix mini projects

In [16]:
# get rolling results
# join all advanced metrics to box_score_table

box_score_advanced = all_boxscore_results_df.merge(right = game_results_records, how='inner',  left_on='game_id', right_on='team1_game_id')
box_score_advanced = box_score_advanced[['season_x','team1', 'team1_game_id','wins_team1','game_number_team1_x', 
                                         'ortg_team1', 'ast%_team1','ts%_team1', 'efg%_team1', 'poss_team1',
                                         'dreb%_team1', 'oreb%_team1','stl%_team1', 'blk%_team1', 'tov%_team1', 
                                         'fg%_team1', '3fg%_team1','ft%_team1', 'win%_team1', 'homeaway_win%_team1',
                                         'b2bbreak_win%_team1','travel_win%_team1',
                                         'team2','team2_game_id','wins_team2','game_number_team2_x',
                                         'ortg_team2', 'ast%_team2', 'ts%_team2','efg%_team2','poss_team2',
                                         'dreb%_team2', 'oreb%_team2', 'stl%_team2','blk%_team2', 'tov%_team2',
                                         'fg%_team2', '3fg%_team2', 'ft%_team2','win%_team2', 'homeaway_win%_team2',
                                         'b2bbreak_win%_team2','travel_win%_team2', 'win_flag_team1']]

box_score_advanced = box_score_advanced.rename(columns={"season_x":"season",
                                                          "team1":"team1",
                                                          "team1_game_id":"game_id_team1",
                                                          "wins_team1":"wins_team1",
                                                          "game_number_team1_x":"game_number_team1",
                                                          "ortg_team1":"ortg_team1",
                                                          "ast%_team1":"ast%_team1",
                                                          "ts%_team1":"ts%_team1",
                                                          "efg%_team1":"efg%_team1",
                                                          "poss_team1":"poss_team1",
                                                          "dreb%_team1":"dreb%_team1",
                                                          "oreb%_team1":"oreb%_team1",
                                                           "stl%_team1": "stl%_team1",
                                                           "blk%_team1": "blk%_team1",
                                                           "tov%_team1": "tov%_team1",
                                                         "win%_team1":"win%_team1",
                                                          "homeaway_win%_team1":"homeaway_win%_team1",
                                                          "b2bbreak_win%_team1":"b2bbreak_win%_team1",
                                                          "travel_win%_team1":"travel_win%_team1",
                                                          "team2":"team1_opp",
                                                          "team2_game_id":"game_id_team1_opp",
                                                          "wins_team2":"wins_team1_opp",
                                                          "game_number_team2_x":"game_number_team1_opp",
                                                          "ortg_team2":"ortg_team1_opp",
                                                          "ast%_team2":"ast%_team1_opp",
                                                          "ts%_team2":"ts%_team1_opp",
                                                          "efg%_team2":"efg%_team1_opp",
                                                          "poss_team2":"poss_team1_opp",
                                                          "dreb%_team2":"dreb%_team1_opp",
                                                          "oreb%_team2":"oreb%_team1_opp",
                                                           "stl%_team2": "stl%_team1_opp",
                                                           "blk%_team2": "blk%_team1_opp",
                                                           "tov%_team2": "tov%_team1_opp",
                                                         "win%_team2":"win%_team1_opp",
                                                          "homeaway_win%_team2":"homeaway_win%_team1_opp",
                                                          "b2bbreak_win%_team2":"b2bbreak_win%_team1_opp",
                                                          "travel_win%_team2":"travel_win%_team1_opp",
                                                          "ft%_team2":"ft%_team1_opp"
                                                          })
print(len(box_score_advanced))
box_score_advanced.to_csv('advanced box score.csv')

51643

In [17]:
box_score_advanced.head()

,season,team1,game_id_team1,wins_team1,game_number_team1,ortg_team1,ast%_team1,ts%_team1,efg%_team1,poss_team1,...,blk%_team1_opp,tov%_team1_opp,fg%_team2,3fg%_team2,ft%_team1_opp,win%_team1_opp,homeaway_win%_team1_opp,b2bbreak_win%_team1_opp,travel_win%_team1_opp,win_flag_team1
0,1999,ATLANTA HAWKS,ATLANTA HAWKS-1999-1,1,1,109.649123,0.484848,0.556050,0.478873,91.2,...,0.000000,0.180851,0.410256,0.333333,0.600000,0.00,0.0,0.0,0.0,1
1,1999,ATLANTA HAWKS,ATLANTA HAWKS-1999-2,2,2,119.354839,0.500000,0.600649,0.477273,93.0,...,0.032258,0.091650,0.417582,0.222222,0.736842,0.00,0.0,0.0,0.0,1
2,1999,ATLANTA HAWKS,ATLANTA HAWKS-1999-3,2,3,75.492341,0.391304,0.385733,0.307692,91.4,...,0.109409,0.255220,0.400000,0.250000,0.757576,0.00,0.0,0.0,0.0,0
3,1999,ATLANTA HAWKS,ATLANTA HAWKS-1999-4,3,4,101.635514,0.484848,0.525616,0.492857,85.6,...,0.070093,0.127021,0.367816,0.153846,0.357143,0.50,0.0,0.5,0.5,1
4,1999,ATLANTA HAWKS,ATLANTA HAWKS-1999-5,4,5,111.358575,0.615385,0.537172,0.500000,89.8,...,0.066815,0.083857,0.430233,0.142857,0.750000,0.25,0.0,0.0,0.0,1

In [18]:
box_score_advanced.columns

Index(['season', 'team1', 'game_id_team1', 'wins_team1', 'game_number_team1',
       'ortg_team1', 'ast%_team1', 'ts%_team1', 'efg%_team1', 'poss_team1',
       'dreb%_team1', 'oreb%_team1', 'stl%_team1', 'blk%_team1', 'tov%_team1',
       'fg%_team1', '3fg%_team1', 'ft%_team1', 'win%_team1',
       'homeaway_win%_team1', 'b2bbreak_win%_team1', 'travel_win%_team1',
       'team1_opp', 'game_id_team1_opp', 'wins_team1_opp',
       'game_number_team1_opp', 'ortg_team1_opp', 'ast%_team1_opp',
       'ts%_team1_opp', 'efg%_team1_opp', 'poss_team1_opp', 'dreb%_team1_opp',
       'oreb%_team1_opp', 'stl%_team1_opp', 'blk%_team1_opp', 'tov%_team1_opp',
       'fg%_team2', '3fg%_team2', 'ft%_team1_opp', 'win%_team1_opp',
       'homeaway_win%_team1_opp', 'b2bbreak_win%_team1_opp',
       'travel_win%_team1_opp', 'win_flag_team1'],
      dtype='object')

In [19]:
team_list = box_score_advanced.team1.unique()
season_list = box_score_advanced.season.unique()
box_score_advanced_roll8_list = []
box_score_advanced_roll8 = pd.DataFrame(columns = ['team1','season','game_number_team1','ortg_team1','ast%_team1', 'ts%_team1',
                                                   'efg%_team1', 'poss_team1', 'dreb%_team1', 'oreb%_team1', 'stl%_team1',
                                                   'blk%_team1', 'tov%_team1', 'ft%_team1','win%_roll8_team1',
                                                   'ortg_team1_opp', 'ast%_team1_opp', 'ts%_team1_opp', 'efg%_team1_opp', 
                                                   'poss_team1_opp', 'dreb%_team1_opp', 'oreb%_team1_opp', 'stl%_team1_opp', 
                                                   'blk%_team1_opp', 'tov%_team1_opp','ft%_team1_opp']) 
for team in team_list:
    for season in season_list:
        team_advanced_stats = box_score_advanced[(box_score_advanced['team1'] == team) & (box_score_advanced['season'] == season)]
        for game_number in range(2,len(team_advanced_stats)+1):
            if game_number <= 9:
                rolling_8_df = team_advanced_stats[:game_number-1]
            else:
                rolling_8_df = team_advanced_stats[game_number-9:game_number-1]
            roll8_adv_met_list = [
            team,
            season,
            game_number,
            rolling_8_df['ortg_team1'].mean(),
            rolling_8_df['ast%_team1'].mean(),
            rolling_8_df['ts%_team1'].mean(),
            rolling_8_df['efg%_team1'].mean(),
            rolling_8_df['poss_team1'].mean(),
            rolling_8_df['dreb%_team1'].mean(),
            rolling_8_df['oreb%_team1'].mean(),
            rolling_8_df['stl%_team1'].mean(),
            rolling_8_df['blk%_team1'].mean(),
            rolling_8_df['tov%_team1'].mean(),
            rolling_8_df['ft%_team1'].mean(),
            rolling_8_df['win_flag_team1'].sum()/len(rolling_8_df),
            rolling_8_df['ortg_team1_opp'].mean(),
            rolling_8_df['ast%_team1_opp'].mean(),
            rolling_8_df['ts%_team1_opp'].mean(),
            rolling_8_df['efg%_team1_opp'].mean(),
            rolling_8_df['poss_team1_opp'].mean(),
            rolling_8_df['dreb%_team1_opp'].mean(),
            rolling_8_df['oreb%_team1_opp'].mean(),
            rolling_8_df['stl%_team1_opp'].mean(),
            rolling_8_df['blk%_team1_opp'].mean(),
            rolling_8_df['tov%_team1_opp'].mean(),
            rolling_8_df['ft%_team1_opp'].mean()
            ]
            box_score_advanced_roll8_list.append(roll8_adv_met_list)
            Var = pd.DataFrame(box_score_advanced_roll8_list)
            Var.columns = ['team1','season','game_number_team1','ortg_team1','ast%_team1', 'ts%_team1',
                           'efg%_team1', 'poss_team1', 'dreb%_team1', 'oreb%_team1', 'stl%_team1',
                           'blk%_team1', 'tov%_team1', 'ft%_team1','win%_roll8_team1',
                           'ortg_team1_opp', 'ast%_team1_opp', 'ts%_team1_opp', 'efg%_team1_opp', 
                           'poss_team1_opp', 'dreb%_team1_opp', 'oreb%_team1_opp', 'stl%_team1_opp', 
                           'blk%_team1_opp', 'tov%_team1_opp','ft%_team1_opp']
        print("{}'s {} season rolling avg metrics is completed. Dataset size: {}".format(team,season,len(Var)))
box_score_advanced_roll8 = box_score_advanced_roll8.append(Var)

ATLANTA HAWKS's 1999 season rolling avg metrics is completed. Dataset size: 58
ATLANTA HAWKS's 2000 season rolling avg metrics is completed. Dataset size: 139
ATLANTA HAWKS's 2001 season rolling avg metrics is completed. Dataset size: 220
ATLANTA HAWKS's 2002 season rolling avg metrics is completed. Dataset size: 301
ATLANTA HAWKS's 2003 season rolling avg metrics is completed. Dataset size: 382
ATLANTA HAWKS's 2004 season rolling avg metrics is completed. Dataset size: 463
ATLANTA HAWKS's 2005 season rolling avg metrics is completed. Dataset size: 544
ATLANTA HAWKS's 2006 season rolling avg metrics is completed. Dataset size: 623
ATLANTA HAWKS's 2007 season rolling avg metrics is completed. Dataset size: 702
ATLANTA HAWKS's 2008 season rolling avg metrics is completed. Dataset size: 783
ATLANTA HAWKS's 2009 season rolling avg metrics is completed. Dataset size: 864
ATLANTA HAWKS's 2010 season rolling avg metrics is completed. Dataset size: 945
ATLANTA HAWKS's 2011 season rolling avg metrics is completed. Dataset size: 1026
ATLANTA HAWKS's 2012 season rolling avg metrics is completed. Dataset size: 1097
ATLANTA HAWKS's 2013 season rolling avg metrics is completed. Dataset size: 1178
ATLANTA HAWKS's 2014 season rolling avg metrics is completed. Dataset size: 1259
ATLANTA HAWKS's 2015 season rolling avg metrics is completed. Dataset size: 1340
ATLANTA HAWKS's 2016 season rolling avg metrics is completed. Dataset size: 1421
ATLANTA HAWKS's 2017 season rolling avg metrics is completed. Dataset size: 1502
ATLANTA HAWKS's 2018 season rolling avg metrics is completed. Dataset size: 1583
ATLANTA HAWKS's 2019 season rolling avg metrics is completed. Dataset size: 1664
ATLANTA HAWKS's 2020 season rolling avg metrics is completed. Dataset size: 1730
BOSTON CELTICS's 1999 season rolling avg metrics is completed. Dataset size: 1779
BOSTON CELTICS's 2000 season rolling avg metrics is completed. Dataset size: 1860
BOSTON CELTICS's 2001 season rolling avg metrics is completed. Dataset size: 1941
BOSTON CELTICS's 2002 season rolling avg metrics is completed. Dataset size: 2022
BOSTON CELTICS's 2003 season rolling avg metrics is completed. Dataset size: 2103
BOSTON CELTICS's 2004 season rolling avg metrics is completed. Dataset size: 2184
BOSTON CELTICS's 2005 season rolling avg metrics is completed. Dataset size: 2265
BOSTON CELTICS's 2006 season rolling avg metrics is completed. Dataset size: 2344
BOSTON CELTICS's 2007 season rolling avg metrics is completed. Dataset size: 2423
BOSTON CELTICS's 2008 season rolling avg metrics is completed. Dataset size: 2504
BOSTON CELTICS's 2009 season rolling avg metrics is completed. Dataset size: 2585
BOSTON CELTICS's 2010 season rolling avg metrics is completed. Dataset size: 2666
BOSTON CELTICS's 2011 season rolling avg metrics is completed. Dataset size: 2747
BOSTON CELTICS's 2012 season rolling avg metrics is completed. Dataset size: 2828
BOSTON CELTICS's 2013 season rolling avg metrics is completed. Dataset size: 2908
BOSTON CELTICS's 2014 season rolling avg metrics is completed. Dataset size: 2989
BOSTON CELTICS's 2015 season rolling avg metrics is completed. Dataset size: 3070
BOSTON CELTICS's 2016 season rolling avg metrics is completed. Dataset size: 3151
BOSTON CELTICS's 2017 season rolling avg metrics is completed. Dataset size: 3232
BOSTON CELTICS's 2018 season rolling avg metrics is completed. Dataset size: 3313
BOSTON CELTICS's 2019 season rolling avg metrics is completed. Dataset size: 3393
BOSTON CELTICS's 2020 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 1999 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2000 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2001 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2002 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2003 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2004 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2005 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2006 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2007 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2008 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2009 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2010 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2011 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2012 season rolling avg metrics is completed. Dataset size: 3456
BROOKLYN NETS's 2013 season rolling avg metrics is completed. Dataset size: 3537
BROOKLYN NETS's 2014 season rolling avg metrics is completed. Dataset size: 3618
BROOKLYN NETS's 2015 season rolling avg metrics is completed. Dataset size: 3699
BROOKLYN NETS's 2016 season rolling avg metrics is completed. Dataset size: 3780
BROOKLYN NETS's 2017 season rolling avg metrics is completed. Dataset size: 3861
BROOKLYN NETS's 2018 season rolling avg metrics is completed. Dataset size: 3942
BROOKLYN NETS's 2019 season rolling avg metrics is completed. Dataset size: 4023
BROOKLYN NETS's 2020 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 1999 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2000 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2001 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2002 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2003 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2004 season rolling avg metrics is completed. Dataset size: 4086
CHARLOTTE BOBCATS's 2005 season rolling avg metrics is completed. Dataset size: 4167
CHARLOTTE BOBCATS's 2006 season rolling avg metrics is completed. Dataset size: 4246
CHARLOTTE BOBCATS's 2007 season rolling avg metrics is completed. Dataset size: 4325
CHARLOTTE BOBCATS's 2008 season rolling avg metrics is completed. Dataset size: 4406
CHARLOTTE BOBCATS's 2009 season rolling avg metrics is completed. Dataset size: 4487
CHARLOTTE BOBCATS's 2010 season rolling avg metrics is completed. Dataset size: 4568
CHARLOTTE BOBCATS's 2011 season rolling avg metrics is completed. Dataset size: 4649
CHARLOTTE BOBCATS's 2012 season rolling avg metrics is completed. Dataset size: 4714
CHARLOTTE BOBCATS's 2013 season rolling avg metrics is completed. Dataset size: 4795
CHARLOTTE BOBCATS's 2014 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2015 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2016 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2017 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2018 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2019 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE BOBCATS's 2020 season rolling avg metrics is completed. Dataset size: 4876
CHARLOTTE HORNETS's 1999 season rolling avg metrics is completed. Dataset size: 4925
CHARLOTTE HORNETS's 2000 season rolling avg metrics is completed. Dataset size: 5006
CHARLOTTE HORNETS's 2001 season rolling avg metrics is completed. Dataset size: 5087
CHARLOTTE HORNETS's 2002 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2003 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2004 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2005 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2006 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2007 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2008 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2009 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2010 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2011 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2012 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2013 season rolling avg metrics is completed. Dataset size: 5168
CHARLOTTE HORNETS's 2014 season rolling avg metrics is completed. Dataset size: 5168

CHARLOTTE HORNETS's 2015 season rolling avg metrics is completed. Dataset size: 5249
CHARLOTTE HORNETS's 2016 season rolling avg metrics is completed. Dataset size: 5330
CHARLOTTE HORNETS's 2017 season rolling avg metrics is completed. Dataset size: 5411
CHARLOTTE HORNETS's 2018 season rolling avg metrics is completed. Dataset size: 5492
CHARLOTTE HORNETS's 2019 season rolling avg metrics is completed. Dataset size: 5573
CHARLOTTE HORNETS's 2020 season rolling avg metrics is completed. Dataset size: 5637
CHICAGO BULLS's 1999 season rolling avg metrics is completed. Dataset size: 5686
CHICAGO BULLS's 2000 season rolling avg metrics is completed. Dataset size: 5767
CHICAGO BULLS's 2001 season rolling avg metrics is completed. Dataset size: 5848
CHICAGO BULLS's 2002 season rolling avg metrics is completed. Dataset size: 5929
CHICAGO BULLS's 2003 season rolling avg metrics is completed. Dataset size: 6010
CHICAGO BULLS's 2004 season rolling avg metrics is completed. Dataset size: 6091
CHICAGO BULLS's 2005 season rolling avg metrics is completed. Dataset size: 6172
CHICAGO BULLS's 2006 season rolling avg metrics is completed. Dataset size: 6251
CHICAGO BULLS's 2007 season rolling avg metrics is completed. Dataset size: 6330
CHICAGO BULLS's 2008 season rolling avg metrics is completed. Dataset size: 6411
CHICAGO BULLS's 2009 season rolling avg metrics is completed. Dataset size: 6492
CHICAGO BULLS's 2010 season rolling avg metrics is completed. Dataset size: 6573
CHICAGO BULLS's 2011 season rolling avg metrics is completed. Dataset size: 6654
CHICAGO BULLS's 2012 season rolling avg metrics is completed. Dataset size: 6725
CHICAGO BULLS's 2013 season rolling avg metrics is completed. Dataset size: 6806
CHICAGO BULLS's 2014 season rolling avg metrics is completed. Dataset size: 6887
CHICAGO BULLS's 2015 season rolling avg metrics is completed. Dataset size: 6968
CHICAGO BULLS's 2016 season rolling avg metrics is completed. Dataset size: 7048
CHICAGO BULLS's 2017 season rolling avg metrics is completed. Dataset size: 7129
CHICAGO BULLS's 2018 season rolling avg metrics is completed. Dataset size: 7210
CHICAGO BULLS's 2019 season rolling avg metrics is completed. Dataset size: 7291
CHICAGO BULLS's 2020 season rolling avg metrics is completed. Dataset size: 7355
CLEVELAND CAVALIERS's 1999 season rolling avg metrics is completed. Dataset size: 7404
CLEVELAND CAVALIERS's 2000 season rolling avg metrics is completed. Dataset size: 7485
CLEVELAND CAVALIERS's 2001 season rolling avg metrics is completed. Dataset size: 7566
CLEVELAND CAVALIERS's 2002 season rolling avg metrics is completed. Dataset size: 7647
CLEVELAND CAVALIERS's 2003 season rolling avg metrics is completed. Dataset size: 7728
CLEVELAND CAVALIERS's 2004 season rolling avg metrics is completed. Dataset size: 7809
CLEVELAND CAVALIERS's 2005 season rolling avg metrics is completed. Dataset size: 7890
CLEVELAND CAVALIERS's 2006 season rolling avg metrics is completed. Dataset size: 7969
CLEVELAND CAVALIERS's 2007 season rolling avg metrics is completed. Dataset size: 8048
CLEVELAND CAVALIERS's 2008 season rolling avg metrics is completed. Dataset size: 8129
CLEVELAND CAVALIERS's 2009 season rolling avg metrics is completed. Dataset size: 8210
CLEVELAND CAVALIERS's 2010 season rolling avg metrics is completed. Dataset size: 8291
CLEVELAND CAVALIERS's 2011 season rolling avg metrics is completed. Dataset size: 8372
CLEVELAND CAVALIERS's 2012 season rolling avg metrics is completed. Dataset size: 8437
CLEVELAND CAVALIERS's 2013 season rolling avg metrics is completed. Dataset size: 8518
CLEVELAND CAVALIERS's 2014 season rolling avg metrics is completed. Dataset size: 8599
CLEVELAND CAVALIERS's 2015 season rolling avg metrics is completed. Dataset size: 8680
CLEVELAND CAVALIERS's 2016 season rolling avg metrics is completed. Dataset size: 8761
CLEVELAND CAVALIERS's 2017 season rolling avg metrics is completed. Dataset size: 8842
CLEVELAND CAVALIERS's 2018 season rolling avg metrics is completed. Dataset size: 8923
CLEVELAND CAVALIERS's 2019 season rolling avg metrics is completed. Dataset size: 9004
CLEVELAND CAVALIERS's 2020 season rolling avg metrics is completed. Dataset size: 9068
DALLAS MAVERICKS's 1999 season rolling avg metrics is completed. Dataset size: 9117
DALLAS MAVERICKS's 2000 season rolling avg metrics is completed. Dataset size: 9198
DALLAS MAVERICKS's 2001 season rolling avg metrics is completed. Dataset size: 9279
DALLAS MAVERICKS's 2002 season rolling avg metrics is completed. Dataset size: 9360
DALLAS MAVERICKS's 2003 season rolling avg metrics is completed. Dataset size: 9441
DALLAS MAVERICKS's 2004 season rolling avg metrics is completed. Dataset size: 9522
DALLAS MAVERICKS's 2005 season rolling avg metrics is completed. Dataset size: 9603
DALLAS MAVERICKS's 2006 season rolling avg metrics is completed. Dataset size: 9680
DALLAS MAVERICKS's 2007 season rolling avg metrics is completed. Dataset size: 9757
DALLAS MAVERICKS's 2008 season rolling avg metrics is completed. Dataset size: 9838
DALLAS MAVERICKS's 2009 season rolling avg metrics is completed. Dataset size: 9919
DALLAS MAVERICKS's 2010 season rolling avg metrics is completed. Dataset size: 10000
DALLAS MAVERICKS's 2011 season rolling avg metrics is completed. Dataset size: 10081
DALLAS MAVERICKS's 2012 season rolling avg metrics is completed. Dataset size: 10150
DALLAS MAVERICKS's 2013 season rolling avg metrics is completed. Dataset size: 10231
DALLAS MAVERICKS's 2014 season rolling avg metrics is completed. Dataset size: 10312
DALLAS MAVERICKS's 2015 season rolling avg metrics is completed. Dataset size: 10393
DALLAS MAVERICKS's 2016 season rolling avg metrics is completed. Dataset size: 10474
DALLAS MAVERICKS's 2017 season rolling avg metrics is completed. Dataset size: 10555
DALLAS MAVERICKS's 2018 season rolling avg metrics is completed. Dataset size: 10636
DALLAS MAVERICKS's 2019 season rolling avg metrics is completed. Dataset size: 10717
DALLAS MAVERICKS's 2020 season rolling avg metrics is completed. Dataset size: 10783
DENVER NUGGETS's 1999 season rolling avg metrics is completed. Dataset size: 10832
DENVER NUGGETS's 2000 season rolling avg metrics is completed. Dataset size: 10913
DENVER NUGGETS's 2001 season rolling avg metrics is completed. Dataset size: 10994
DENVER NUGGETS's 2002 season rolling avg metrics is completed. Dataset size: 11075
DENVER NUGGETS's 2003 season rolling avg metrics is completed. Dataset size: 11156
DENVER NUGGETS's 2004 season rolling avg metrics is completed. Dataset size: 11237
DENVER NUGGETS's 2005 season rolling avg metrics is completed. Dataset size: 11318
DENVER NUGGETS's 2006 season rolling avg metrics is completed. Dataset size: 11396
DENVER NUGGETS's 2007 season rolling avg metrics is completed. Dataset size: 11473
DENVER NUGGETS's 2008 season rolling avg metrics is completed. Dataset size: 11554
DENVER NUGGETS's 2009 season rolling avg metrics is completed. Dataset size: 11635
DENVER NUGGETS's 2010 season rolling avg metrics is completed. Dataset size: 11716
DENVER NUGGETS's 2011 season rolling avg metrics is completed. Dataset size: 11797
DENVER NUGGETS's 2012 season rolling avg metrics is completed. Dataset size: 11869
DENVER NUGGETS's 2013 season rolling avg metrics is completed. Dataset size: 11950
DENVER NUGGETS's 2014 season rolling avg metrics is completed. Dataset size: 12031
DENVER NUGGETS's 2015 season rolling avg metrics is completed. Dataset size: 12112
DENVER NUGGETS's 2016 season rolling avg metrics is completed. Dataset size: 12193
DENVER NUGGETS's 2017 season rolling avg metrics is completed. Dataset size: 12274
DENVER NUGGETS's 2018 season rolling avg metrics is completed. Dataset size: 12355
DENVER NUGGETS's 2019 season rolling avg metrics is completed. Dataset size: 12436
DENVER NUGGETS's 2020 season rolling avg metrics is completed. Dataset size: 12500
DETROIT PISTONS's 1999 season rolling avg metrics is completed. Dataset size: 12554
DETROIT PISTONS's 2000 season rolling avg metrics is completed. Dataset size: 12635
DETROIT PISTONS's 2001 season rolling avg metrics is completed. Dataset size: 12716
DETROIT PISTONS's 2002 season rolling avg metrics is completed. Dataset size: 12797

DETROIT PISTONS's 2003 season rolling avg metrics is completed. Dataset size: 12878
DETROIT PISTONS's 2004 season rolling avg metrics is completed. Dataset size: 12959
DETROIT PISTONS's 2005 season rolling avg metrics is completed. Dataset size: 13040
DETROIT PISTONS's 2006 season rolling avg metrics is completed. Dataset size: 13119
DETROIT PISTONS's 2007 season rolling avg metrics is completed. Dataset size: 13198
DETROIT PISTONS's 2008 season rolling avg metrics is completed. Dataset size: 13279
DETROIT PISTONS's 2009 season rolling avg metrics is completed. Dataset size: 13360
DETROIT PISTONS's 2010 season rolling avg metrics is completed. Dataset size: 13441
DETROIT PISTONS's 2011 season rolling avg metrics is completed. Dataset size: 13522
DETROIT PISTONS's 2012 season rolling avg metrics is completed. Dataset size: 13587
DETROIT PISTONS's 2013 season rolling avg metrics is completed. Dataset size: 13668
DETROIT PISTONS's 2014 season rolling avg metrics is completed. Dataset size: 13749
DETROIT PISTONS's 2015 season rolling avg metrics is completed. Dataset size: 13830
DETROIT PISTONS's 2016 season rolling avg metrics is completed. Dataset size: 13910
DETROIT PISTONS's 2017 season rolling avg metrics is completed. Dataset size: 13991
DETROIT PISTONS's 2018 season rolling avg metrics is completed. Dataset size: 14072
DETROIT PISTONS's 2019 season rolling avg metrics is completed. Dataset size: 14153
DETROIT PISTONS's 2020 season rolling avg metrics is completed. Dataset size: 14218
GOLDEN STATE WARRIORS's 1999 season rolling avg metrics is completed. Dataset size: 14267
GOLDEN STATE WARRIORS's 2000 season rolling avg metrics is completed. Dataset size: 14348
GOLDEN STATE WARRIORS's 2001 season rolling avg metrics is completed. Dataset size: 14429
GOLDEN STATE WARRIORS's 2002 season rolling avg metrics is completed. Dataset size: 14510
GOLDEN STATE WARRIORS's 2003 season rolling avg metrics is completed. Dataset size: 14591
GOLDEN STATE WARRIORS's 2004 season rolling avg metrics is completed. Dataset size: 14672
GOLDEN STATE WARRIORS's 2005 season rolling avg metrics is completed. Dataset size: 14753
GOLDEN STATE WARRIORS's 2006 season rolling avg metrics is completed. Dataset size: 14831
GOLDEN STATE WARRIORS's 2007 season rolling avg metrics is completed. Dataset size: 14908
GOLDEN STATE WARRIORS's 2008 season rolling avg metrics is completed. Dataset size: 14989
GOLDEN STATE WARRIORS's 2009 season rolling avg metrics is completed. Dataset size: 15070
GOLDEN STATE WARRIORS's 2010 season rolling avg metrics is completed. Dataset size: 15151
GOLDEN STATE WARRIORS's 2011 season rolling avg metrics is completed. Dataset size: 15232
GOLDEN STATE WARRIORS's 2012 season rolling avg metrics is completed. Dataset size: 15297
GOLDEN STATE WARRIORS's 2013 season rolling avg metrics is completed. Dataset size: 15378
GOLDEN STATE WARRIORS's 2014 season rolling avg metrics is completed. Dataset size: 15459
GOLDEN STATE WARRIORS's 2015 season rolling avg metrics is completed. Dataset size: 15540
GOLDEN STATE WARRIORS's 2016 season rolling avg metrics is completed. Dataset size: 15620
GOLDEN STATE WARRIORS's 2017 season rolling avg metrics is completed. Dataset size: 15701
GOLDEN STATE WARRIORS's 2018 season rolling avg metrics is completed. Dataset size: 15782
GOLDEN STATE WARRIORS's 2019 season rolling avg metrics is completed. Dataset size: 15863
GOLDEN STATE WARRIORS's 2020 season rolling avg metrics is completed. Dataset size: 15927
HOUSTON ROCKETS's 1999 season rolling avg metrics is completed. Dataset size: 15980
HOUSTON ROCKETS's 2000 season rolling avg metrics is completed. Dataset size: 16061
HOUSTON ROCKETS's 2001 season rolling avg metrics is completed. Dataset size: 16142
HOUSTON ROCKETS's 2002 season rolling avg metrics is completed. Dataset size: 16223
HOUSTON ROCKETS's 2003 season rolling avg metrics is completed. Dataset size: 16304
HOUSTON ROCKETS's 2004 season rolling avg metrics is completed. Dataset size: 16385
HOUSTON ROCKETS's 2005 season rolling avg metrics is completed. Dataset size: 16466
HOUSTON ROCKETS's 2006 season rolling avg metrics is completed. Dataset size: 16543
HOUSTON ROCKETS's 2007 season rolling avg metrics is completed. Dataset size: 16620
HOUSTON ROCKETS's 2008 season rolling avg metrics is completed. Dataset size: 16701
HOUSTON ROCKETS's 2009 season rolling avg metrics is completed. Dataset size: 16782
HOUSTON ROCKETS's 2010 season rolling avg metrics is completed. Dataset size: 16863
HOUSTON ROCKETS's 2011 season rolling avg metrics is completed. Dataset size: 16944
HOUSTON ROCKETS's 2012 season rolling avg metrics is completed. Dataset size: 17009
HOUSTON ROCKETS's 2013 season rolling avg metrics is completed. Dataset size: 17090
HOUSTON ROCKETS's 2014 season rolling avg metrics is completed. Dataset size: 17171
HOUSTON ROCKETS's 2015 season rolling avg metrics is completed. Dataset size: 17252
HOUSTON ROCKETS's 2016 season rolling avg metrics is completed. Dataset size: 17332
HOUSTON ROCKETS's 2017 season rolling avg metrics is completed. Dataset size: 17413
HOUSTON ROCKETS's 2018 season rolling avg metrics is completed. Dataset size: 17494
HOUSTON ROCKETS's 2019 season rolling avg metrics is completed. Dataset size: 17575
HOUSTON ROCKETS's 2020 season rolling avg metrics is completed. Dataset size: 17638
INDIANA PACERS's 1999 season rolling avg metrics is completed. Dataset size: 17700
INDIANA PACERS's 2000 season rolling avg metrics is completed. Dataset size: 17781
INDIANA PACERS's 2001 season rolling avg metrics is completed. Dataset size: 17862
INDIANA PACERS's 2002 season rolling avg metrics is completed. Dataset size: 17943
INDIANA PACERS's 2003 season rolling avg metrics is completed. Dataset size: 18024
INDIANA PACERS's 2004 season rolling avg metrics is completed. Dataset size: 18105
INDIANA PACERS's 2005 season rolling avg metrics is completed. Dataset size: 18186
INDIANA PACERS's 2006 season rolling avg metrics is completed. Dataset size: 18265
INDIANA PACERS's 2007 season rolling avg metrics is completed. Dataset size: 18344
INDIANA PACERS's 2008 season rolling avg metrics is completed. Dataset size: 18425
INDIANA PACERS's 2009 season rolling avg metrics is completed. Dataset size: 18506
INDIANA PACERS's 2010 season rolling avg metrics is completed. Dataset size: 18587
INDIANA PACERS's 2011 season rolling avg metrics is completed. Dataset size: 18668
INDIANA PACERS's 2012 season rolling avg metrics is completed. Dataset size: 18744
INDIANA PACERS's 2013 season rolling avg metrics is completed. Dataset size: 18824
INDIANA PACERS's 2014 season rolling avg metrics is completed. Dataset size: 18905
INDIANA PACERS's 2015 season rolling avg metrics is completed. Dataset size: 18986
INDIANA PACERS's 2016 season rolling avg metrics is completed. Dataset size: 19067
INDIANA PACERS's 2017 season rolling avg metrics is completed. Dataset size: 19148
INDIANA PACERS's 2018 season rolling avg metrics is completed. Dataset size: 19229
INDIANA PACERS's 2019 season rolling avg metrics is completed. Dataset size: 19310
INDIANA PACERS's 2020 season rolling avg metrics is completed. Dataset size: 19374
LOS ANGELES CLIPPERS's 1999 season rolling avg metrics is completed. Dataset size: 19423
LOS ANGELES CLIPPERS's 2000 season rolling avg metrics is completed. Dataset size: 19504
LOS ANGELES CLIPPERS's 2001 season rolling avg metrics is completed. Dataset size: 19585
LOS ANGELES CLIPPERS's 2002 season rolling avg metrics is completed. Dataset size: 19666
LOS ANGELES CLIPPERS's 2003 season rolling avg metrics is completed. Dataset size: 19747
LOS ANGELES CLIPPERS's 2004 season rolling avg metrics is completed. Dataset size: 19828
LOS ANGELES CLIPPERS's 2005 season rolling avg metrics is completed. Dataset size: 19909
LOS ANGELES CLIPPERS's 2006 season rolling avg metrics is completed. Dataset size: 19987
LOS ANGELES CLIPPERS's 2007 season rolling avg metrics is completed. Dataset size: 20064
LOS ANGELES CLIPPERS's 2008 season rolling avg metrics is completed. Dataset size: 20145
LOS ANGELES CLIPPERS's 2009 season rolling avg metrics is completed. Dataset size: 20226
LOS ANGELES CLIPPERS's 2010 season rolling avg metrics is completed. Dataset size: 20307

LOS ANGELES CLIPPERS's 2011 season rolling avg metrics is completed. Dataset size: 20388
LOS ANGELES CLIPPERS's 2012 season rolling avg metrics is completed. Dataset size: 20464
LOS ANGELES CLIPPERS's 2013 season rolling avg metrics is completed. Dataset size: 20545
LOS ANGELES CLIPPERS's 2014 season rolling avg metrics is completed. Dataset size: 20626
LOS ANGELES CLIPPERS's 2015 season rolling avg metrics is completed. Dataset size: 20707
LOS ANGELES CLIPPERS's 2016 season rolling avg metrics is completed. Dataset size: 20788
LOS ANGELES CLIPPERS's 2017 season rolling avg metrics is completed. Dataset size: 20869
LOS ANGELES CLIPPERS's 2018 season rolling avg metrics is completed. Dataset size: 20950
LOS ANGELES CLIPPERS's 2019 season rolling avg metrics is completed. Dataset size: 21031
LOS ANGELES CLIPPERS's 2020 season rolling avg metrics is completed. Dataset size: 21094
LOS ANGELES LAKERS's 1999 season rolling avg metrics is completed. Dataset size: 21151
LOS ANGELES LAKERS's 2000 season rolling avg metrics is completed. Dataset size: 21232
LOS ANGELES LAKERS's 2001 season rolling avg metrics is completed. Dataset size: 21313
LOS ANGELES LAKERS's 2002 season rolling avg metrics is completed. Dataset size: 21394
LOS ANGELES LAKERS's 2003 season rolling avg metrics is completed. Dataset size: 21475
LOS ANGELES LAKERS's 2004 season rolling avg metrics is completed. Dataset size: 21556
LOS ANGELES LAKERS's 2005 season rolling avg metrics is completed. Dataset size: 21637
LOS ANGELES LAKERS's 2006 season rolling avg metrics is completed. Dataset size: 21714
LOS ANGELES LAKERS's 2007 season rolling avg metrics is completed. Dataset size: 21792
LOS ANGELES LAKERS's 2008 season rolling avg metrics is completed. Dataset size: 21873
LOS ANGELES LAKERS's 2009 season rolling avg metrics is completed. Dataset size: 21954
LOS ANGELES LAKERS's 2010 season rolling avg metrics is completed. Dataset size: 22035
LOS ANGELES LAKERS's 2011 season rolling avg metrics is completed. Dataset size: 22116
LOS ANGELES LAKERS's 2012 season rolling avg metrics is completed. Dataset size: 22193
LOS ANGELES LAKERS's 2013 season rolling avg metrics is completed. Dataset size: 22274
LOS ANGELES LAKERS's 2014 season rolling avg metrics is completed. Dataset size: 22355
LOS ANGELES LAKERS's 2015 season rolling avg metrics is completed. Dataset size: 22436
LOS ANGELES LAKERS's 2016 season rolling avg metrics is completed. Dataset size: 22517
LOS ANGELES LAKERS's 2017 season rolling avg metrics is completed. Dataset size: 22598
LOS ANGELES LAKERS's 2018 season rolling avg metrics is completed. Dataset size: 22679
LOS ANGELES LAKERS's 2019 season rolling avg metrics is completed. Dataset size: 22760
LOS ANGELES LAKERS's 2020 season rolling avg metrics is completed. Dataset size: 22822
MEMPHIS GRIZZLIES's 1999 season rolling avg metrics is completed. Dataset size: 22822
MEMPHIS GRIZZLIES's 2000 season rolling avg metrics is completed. Dataset size: 22822
MEMPHIS GRIZZLIES's 2001 season rolling avg metrics is completed. Dataset size: 22822
MEMPHIS GRIZZLIES's 2002 season rolling avg metrics is completed. Dataset size: 22903
MEMPHIS GRIZZLIES's 2003 season rolling avg metrics is completed. Dataset size: 22984
MEMPHIS GRIZZLIES's 2004 season rolling avg metrics is completed. Dataset size: 23065
MEMPHIS GRIZZLIES's 2005 season rolling avg metrics is completed. Dataset size: 23146
MEMPHIS GRIZZLIES's 2006 season rolling avg metrics is completed. Dataset size: 23223
MEMPHIS GRIZZLIES's 2007 season rolling avg metrics is completed. Dataset size: 23300
MEMPHIS GRIZZLIES's 2008 season rolling avg metrics is completed. Dataset size: 23381
MEMPHIS GRIZZLIES's 2009 season rolling avg metrics is completed. Dataset size: 23462
MEMPHIS GRIZZLIES's 2010 season rolling avg metrics is completed. Dataset size: 23543
MEMPHIS GRIZZLIES's 2011 season rolling avg metrics is completed. Dataset size: 23624
MEMPHIS GRIZZLIES's 2012 season rolling avg metrics is completed. Dataset size: 23696
MEMPHIS GRIZZLIES's 2013 season rolling avg metrics is completed. Dataset size: 23777
MEMPHIS GRIZZLIES's 2014 season rolling avg metrics is completed. Dataset size: 23858
MEMPHIS GRIZZLIES's 2015 season rolling avg metrics is completed. Dataset size: 23939
MEMPHIS GRIZZLIES's 2016 season rolling avg metrics is completed. Dataset size: 24020
MEMPHIS GRIZZLIES's 2017 season rolling avg metrics is completed. Dataset size: 24101
MEMPHIS GRIZZLIES's 2018 season rolling avg metrics is completed. Dataset size: 24182
MEMPHIS GRIZZLIES's 2019 season rolling avg metrics is completed. Dataset size: 24263
MEMPHIS GRIZZLIES's 2020 season rolling avg metrics is completed. Dataset size: 24327
MIAMI HEAT's 1999 season rolling avg metrics is completed. Dataset size: 24381
MIAMI HEAT's 2000 season rolling avg metrics is completed. Dataset size: 24462
MIAMI HEAT's 2001 season rolling avg metrics is completed. Dataset size: 24543
MIAMI HEAT's 2002 season rolling avg metrics is completed. Dataset size: 24624
MIAMI HEAT's 2003 season rolling avg metrics is completed. Dataset size: 24705
MIAMI HEAT's 2004 season rolling avg metrics is completed. Dataset size: 24786
MIAMI HEAT's 2005 season rolling avg metrics is completed. Dataset size: 24867
MIAMI HEAT's 2006 season rolling avg metrics is completed. Dataset size: 24946
MIAMI HEAT's 2007 season rolling avg metrics is completed. Dataset size: 25025
MIAMI HEAT's 2008 season rolling avg metrics is completed. Dataset size: 25105
MIAMI HEAT's 2009 season rolling avg metrics is completed. Dataset size: 25186
MIAMI HEAT's 2010 season rolling avg metrics is completed. Dataset size: 25267
MIAMI HEAT's 2011 season rolling avg metrics is completed. Dataset size: 25348
MIAMI HEAT's 2012 season rolling avg metrics is completed. Dataset size: 25427
MIAMI HEAT's 2013 season rolling avg metrics is completed. Dataset size: 25508
MIAMI HEAT's 2014 season rolling avg metrics is completed. Dataset size: 25589
MIAMI HEAT's 2015 season rolling avg metrics is completed. Dataset size: 25670
MIAMI HEAT's 2016 season rolling avg metrics is completed. Dataset size: 25751
MIAMI HEAT's 2017 season rolling avg metrics is completed. Dataset size: 25832
MIAMI HEAT's 2018 season rolling avg metrics is completed. Dataset size: 25913
MIAMI HEAT's 2019 season rolling avg metrics is completed. Dataset size: 25994
MIAMI HEAT's 2020 season rolling avg metrics is completed. Dataset size: 26058
MILWAUKEE BUCKS's 1999 season rolling avg metrics is completed. Dataset size: 26110
MILWAUKEE BUCKS's 2000 season rolling avg metrics is completed. Dataset size: 26191
MILWAUKEE BUCKS's 2001 season rolling avg metrics is completed. Dataset size: 26272
MILWAUKEE BUCKS's 2002 season rolling avg metrics is completed. Dataset size: 26353
MILWAUKEE BUCKS's 2003 season rolling avg metrics is completed. Dataset size: 26434
MILWAUKEE BUCKS's 2004 season rolling avg metrics is completed. Dataset size: 26515
MILWAUKEE BUCKS's 2005 season rolling avg metrics is completed. Dataset size: 26596
MILWAUKEE BUCKS's 2006 season rolling avg metrics is completed. Dataset size: 26675
MILWAUKEE BUCKS's 2007 season rolling avg metrics is completed. Dataset size: 26754
MILWAUKEE BUCKS's 2008 season rolling avg metrics is completed. Dataset size: 26835
MILWAUKEE BUCKS's 2009 season rolling avg metrics is completed. Dataset size: 26916
MILWAUKEE BUCKS's 2010 season rolling avg metrics is completed. Dataset size: 26997
MILWAUKEE BUCKS's 2011 season rolling avg metrics is completed. Dataset size: 27078
MILWAUKEE BUCKS's 2012 season rolling avg metrics is completed. Dataset size: 27143
MILWAUKEE BUCKS's 2013 season rolling avg metrics is completed. Dataset size: 27224
MILWAUKEE BUCKS's 2014 season rolling avg metrics is completed. Dataset size: 27305
MILWAUKEE BUCKS's 2015 season rolling avg metrics is completed. Dataset size: 27386
MILWAUKEE BUCKS's 2016 season rolling avg metrics is completed. Dataset size: 27467
MILWAUKEE BUCKS's 2017 season rolling avg metrics is completed. Dataset size: 27548
MILWAUKEE BUCKS's 2018 season rolling avg metrics is completed. Dataset size: 27629
MILWAUKEE BUCKS's 2019 season rolling avg metrics is completed. Dataset size: 27708

MILWAUKEE BUCKS's 2020 season rolling avg metrics is completed. Dataset size: 27772
MINNESOTA TIMBERWOLVES's 1999 season rolling avg metrics is completed. Dataset size: 27825
MINNESOTA TIMBERWOLVES's 2000 season rolling avg metrics is completed. Dataset size: 27906
MINNESOTA TIMBERWOLVES's 2001 season rolling avg metrics is completed. Dataset size: 27987
MINNESOTA TIMBERWOLVES's 2002 season rolling avg metrics is completed. Dataset size: 28068
MINNESOTA TIMBERWOLVES's 2003 season rolling avg metrics is completed. Dataset size: 28149
MINNESOTA TIMBERWOLVES's 2004 season rolling avg metrics is completed. Dataset size: 28230
MINNESOTA TIMBERWOLVES's 2005 season rolling avg metrics is completed. Dataset size: 28311
MINNESOTA TIMBERWOLVES's 2006 season rolling avg metrics is completed. Dataset size: 28389
MINNESOTA TIMBERWOLVES's 2007 season rolling avg metrics is completed. Dataset size: 28466
MINNESOTA TIMBERWOLVES's 2008 season rolling avg metrics is completed. Dataset size: 28547
MINNESOTA TIMBERWOLVES's 2009 season rolling avg metrics is completed. Dataset size: 28628
MINNESOTA TIMBERWOLVES's 2010 season rolling avg metrics is completed. Dataset size: 28709
MINNESOTA TIMBERWOLVES's 2011 season rolling avg metrics is completed. Dataset size: 28790
MINNESOTA TIMBERWOLVES's 2012 season rolling avg metrics is completed. Dataset size: 28855
MINNESOTA TIMBERWOLVES's 2013 season rolling avg metrics is completed. Dataset size: 28936
MINNESOTA TIMBERWOLVES's 2014 season rolling avg metrics is completed. Dataset size: 29017
MINNESOTA TIMBERWOLVES's 2015 season rolling avg metrics is completed. Dataset size: 29098
MINNESOTA TIMBERWOLVES's 2016 season rolling avg metrics is completed. Dataset size: 29179
MINNESOTA TIMBERWOLVES's 2017 season rolling avg metrics is completed. Dataset size: 29260
MINNESOTA TIMBERWOLVES's 2018 season rolling avg metrics is completed. Dataset size: 29341
MINNESOTA TIMBERWOLVES's 2019 season rolling avg metrics is completed. Dataset size: 29422
MINNESOTA TIMBERWOLVES's 2020 season rolling avg metrics is completed. Dataset size: 29485
NEW JERSEY NETS's 1999 season rolling avg metrics is completed. Dataset size: 29534
NEW JERSEY NETS's 2000 season rolling avg metrics is completed. Dataset size: 29615
NEW JERSEY NETS's 2001 season rolling avg metrics is completed. Dataset size: 29696
NEW JERSEY NETS's 2002 season rolling avg metrics is completed. Dataset size: 29777
NEW JERSEY NETS's 2003 season rolling avg metrics is completed. Dataset size: 29858
NEW JERSEY NETS's 2004 season rolling avg metrics is completed. Dataset size: 29939
NEW JERSEY NETS's 2005 season rolling avg metrics is completed. Dataset size: 30020
NEW JERSEY NETS's 2006 season rolling avg metrics is completed. Dataset size: 30099
NEW JERSEY NETS's 2007 season rolling avg metrics is completed. Dataset size: 30178
NEW JERSEY NETS's 2008 season rolling avg metrics is completed. Dataset size: 30259
NEW JERSEY NETS's 2009 season rolling avg metrics is completed. Dataset size: 30340
NEW JERSEY NETS's 2010 season rolling avg metrics is completed. Dataset size: 30421
NEW JERSEY NETS's 2011 season rolling avg metrics is completed. Dataset size: 30502
NEW JERSEY NETS's 2012 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2013 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2014 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2015 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2016 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2017 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2018 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2019 season rolling avg metrics is completed. Dataset size: 30567
NEW JERSEY NETS's 2020 season rolling avg metrics is completed. Dataset size: 30567
NEW ORLEANS HORNETS's 1999 season rolling avg metrics is completed. Dataset size: 30567
NEW ORLEANS HORNETS's 2000 season rolling avg metrics is completed. Dataset size: 30567
NEW ORLEANS HORNETS's 2001 season rolling avg metrics is completed. Dataset size: 30567
NEW ORLEANS HORNETS's 2002 season rolling avg metrics is completed. Dataset size: 30567
NEW ORLEANS HORNETS's 2003 season rolling avg metrics is completed. Dataset size: 30648
NEW ORLEANS HORNETS's 2004 season rolling avg metrics is completed. Dataset size: 30729
NEW ORLEANS HORNETS's 2005 season rolling avg metrics is completed. Dataset size: 30810
NEW ORLEANS HORNETS's 2006 season rolling avg metrics is completed. Dataset size: 30810
NEW ORLEANS HORNETS's 2007 season rolling avg metrics is completed. Dataset size: 30810
NEW ORLEANS HORNETS's 2008 season rolling avg metrics is completed. Dataset size: 30891
NEW ORLEANS HORNETS's 2009 season rolling avg metrics is completed. Dataset size: 30972
NEW ORLEANS HORNETS's 2010 season rolling avg metrics is completed. Dataset size: 31053
NEW ORLEANS HORNETS's 2011 season rolling avg metrics is completed. Dataset size: 31134
NEW ORLEANS HORNETS's 2012 season rolling avg metrics is completed. Dataset size: 31199
NEW ORLEANS HORNETS's 2013 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2014 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2015 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2016 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2017 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2018 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2019 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS HORNETS's 2020 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 1999 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2000 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2001 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2002 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2003 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2004 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2005 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2006 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2007 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2008 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2009 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2010 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2011 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2012 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2013 season rolling avg metrics is completed. Dataset size: 31280
NEW ORLEANS PELICANS's 2014 season rolling avg metrics is completed. Dataset size: 31361
NEW ORLEANS PELICANS's 2015 season rolling avg metrics is completed. Dataset size: 31442
NEW ORLEANS PELICANS's 2016 season rolling avg metrics is completed. Dataset size: 31523
NEW ORLEANS PELICANS's 2017 season rolling avg metrics is completed. Dataset size: 31603
NEW ORLEANS PELICANS's 2018 season rolling avg metrics is completed. Dataset size: 31684
NEW ORLEANS PELICANS's 2019 season rolling avg metrics is completed. Dataset size: 31765
NEW ORLEANS PELICANS's 2020 season rolling avg metrics is completed. Dataset size: 31828
NEW YORK KNICKS's 1999 season rolling avg metrics is completed. Dataset size: 31897
NEW YORK KNICKS's 2000 season rolling avg metrics is completed. Dataset size: 31978
NEW YORK KNICKS's 2001 season rolling avg metrics is completed. Dataset size: 32059
NEW YORK KNICKS's 2002 season rolling avg metrics is completed. Dataset size: 32140
NEW YORK KNICKS's 2003 season rolling avg metrics is completed. Dataset size: 32221

NEW YORK KNICKS's 2004 season rolling avg metrics is completed. Dataset size: 32302
NEW YORK KNICKS's 2005 season rolling avg metrics is completed. Dataset size: 32383
NEW YORK KNICKS's 2006 season rolling avg metrics is completed. Dataset size: 32462
NEW YORK KNICKS's 2007 season rolling avg metrics is completed. Dataset size: 32541
NEW YORK KNICKS's 2008 season rolling avg metrics is completed. Dataset size: 32622
NEW YORK KNICKS's 2009 season rolling avg metrics is completed. Dataset size: 32703
NEW YORK KNICKS's 2010 season rolling avg metrics is completed. Dataset size: 32784
NEW YORK KNICKS's 2011 season rolling avg metrics is completed. Dataset size: 32865
NEW YORK KNICKS's 2012 season rolling avg metrics is completed. Dataset size: 32935
NEW YORK KNICKS's 2013 season rolling avg metrics is completed. Dataset size: 33015
NEW YORK KNICKS's 2014 season rolling avg metrics is completed. Dataset size: 33096
NEW YORK KNICKS's 2015 season rolling avg metrics is completed. Dataset size: 33177
NEW YORK KNICKS's 2016 season rolling avg metrics is completed. Dataset size: 33258
NEW YORK KNICKS's 2017 season rolling avg metrics is completed. Dataset size: 33339
NEW YORK KNICKS's 2018 season rolling avg metrics is completed. Dataset size: 33420
NEW YORK KNICKS's 2019 season rolling avg metrics is completed. Dataset size: 33501
NEW YORK KNICKS's 2020 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 1999 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2000 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2001 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2002 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2003 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2004 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2005 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2006 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2007 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2008 season rolling avg metrics is completed. Dataset size: 33566
OKLAHOMA CITY THUNDER's 2009 season rolling avg metrics is completed. Dataset size: 33647
OKLAHOMA CITY THUNDER's 2010 season rolling avg metrics is completed. Dataset size: 33728
OKLAHOMA CITY THUNDER's 2011 season rolling avg metrics is completed. Dataset size: 33809
OKLAHOMA CITY THUNDER's 2012 season rolling avg metrics is completed. Dataset size: 33889
OKLAHOMA CITY THUNDER's 2013 season rolling avg metrics is completed. Dataset size: 33970
OKLAHOMA CITY THUNDER's 2014 season rolling avg metrics is completed. Dataset size: 34051
OKLAHOMA CITY THUNDER's 2015 season rolling avg metrics is completed. Dataset size: 34132
OKLAHOMA CITY THUNDER's 2016 season rolling avg metrics is completed. Dataset size: 34213
OKLAHOMA CITY THUNDER's 2017 season rolling avg metrics is completed. Dataset size: 34294
OKLAHOMA CITY THUNDER's 2018 season rolling avg metrics is completed. Dataset size: 34375
OKLAHOMA CITY THUNDER's 2019 season rolling avg metrics is completed. Dataset size: 34456
OKLAHOMA CITY THUNDER's 2020 season rolling avg metrics is completed. Dataset size: 34519
ORLANDO MAGIC's 1999 season rolling avg metrics is completed. Dataset size: 34572
ORLANDO MAGIC's 2000 season rolling avg metrics is completed. Dataset size: 34653
ORLANDO MAGIC's 2001 season rolling avg metrics is completed. Dataset size: 34734
ORLANDO MAGIC's 2002 season rolling avg metrics is completed. Dataset size: 34815
ORLANDO MAGIC's 2003 season rolling avg metrics is completed. Dataset size: 34896
ORLANDO MAGIC's 2004 season rolling avg metrics is completed. Dataset size: 34977
ORLANDO MAGIC's 2005 season rolling avg metrics is completed. Dataset size: 35058
ORLANDO MAGIC's 2006 season rolling avg metrics is completed. Dataset size: 35137
ORLANDO MAGIC's 2007 season rolling avg metrics is completed. Dataset size: 35216
ORLANDO MAGIC's 2008 season rolling avg metrics is completed. Dataset size: 35297
ORLANDO MAGIC's 2009 season rolling avg metrics is completed. Dataset size: 35378
ORLANDO MAGIC's 2010 season rolling avg metrics is completed. Dataset size: 35459
ORLANDO MAGIC's 2011 season rolling avg metrics is completed. Dataset size: 35540
ORLANDO MAGIC's 2012 season rolling avg metrics is completed. Dataset size: 35610
ORLANDO MAGIC's 2013 season rolling avg metrics is completed. Dataset size: 35691
ORLANDO MAGIC's 2014 season rolling avg metrics is completed. Dataset size: 35772
ORLANDO MAGIC's 2015 season rolling avg metrics is completed. Dataset size: 35853
ORLANDO MAGIC's 2016 season rolling avg metrics is completed. Dataset size: 35934
ORLANDO MAGIC's 2017 season rolling avg metrics is completed. Dataset size: 36015
ORLANDO MAGIC's 2018 season rolling avg metrics is completed. Dataset size: 36096
ORLANDO MAGIC's 2019 season rolling avg metrics is completed. Dataset size: 36177
ORLANDO MAGIC's 2020 season rolling avg metrics is completed. Dataset size: 36241
PHILADELPHIA 76ERS's 1999 season rolling avg metrics is completed. Dataset size: 36298
PHILADELPHIA 76ERS's 2000 season rolling avg metrics is completed. Dataset size: 36379
PHILADELPHIA 76ERS's 2001 season rolling avg metrics is completed. Dataset size: 36460
PHILADELPHIA 76ERS's 2002 season rolling avg metrics is completed. Dataset size: 36541
PHILADELPHIA 76ERS's 2003 season rolling avg metrics is completed. Dataset size: 36622
PHILADELPHIA 76ERS's 2004 season rolling avg metrics is completed. Dataset size: 36703
PHILADELPHIA 76ERS's 2005 season rolling avg metrics is completed. Dataset size: 36784
PHILADELPHIA 76ERS's 2006 season rolling avg metrics is completed. Dataset size: 36863
PHILADELPHIA 76ERS's 2007 season rolling avg metrics is completed. Dataset size: 36942
PHILADELPHIA 76ERS's 2008 season rolling avg metrics is completed. Dataset size: 37023
PHILADELPHIA 76ERS's 2009 season rolling avg metrics is completed. Dataset size: 37104
PHILADELPHIA 76ERS's 2010 season rolling avg metrics is completed. Dataset size: 37185
PHILADELPHIA 76ERS's 2011 season rolling avg metrics is completed. Dataset size: 37266
PHILADELPHIA 76ERS's 2012 season rolling avg metrics is completed. Dataset size: 37344
PHILADELPHIA 76ERS's 2013 season rolling avg metrics is completed. Dataset size: 37425
PHILADELPHIA 76ERS's 2014 season rolling avg metrics is completed. Dataset size: 37506
PHILADELPHIA 76ERS's 2015 season rolling avg metrics is completed. Dataset size: 37587
PHILADELPHIA 76ERS's 2016 season rolling avg metrics is completed. Dataset size: 37668
PHILADELPHIA 76ERS's 2017 season rolling avg metrics is completed. Dataset size: 37749
PHILADELPHIA 76ERS's 2018 season rolling avg metrics is completed. Dataset size: 37830
PHILADELPHIA 76ERS's 2019 season rolling avg metrics is completed. Dataset size: 37911
PHILADELPHIA 76ERS's 2020 season rolling avg metrics is completed. Dataset size: 37975
PHOENIX SUNS's 1999 season rolling avg metrics is completed. Dataset size: 38027
PHOENIX SUNS's 2000 season rolling avg metrics is completed. Dataset size: 38108
PHOENIX SUNS's 2001 season rolling avg metrics is completed. Dataset size: 38189
PHOENIX SUNS's 2002 season rolling avg metrics is completed. Dataset size: 38270
PHOENIX SUNS's 2003 season rolling avg metrics is completed. Dataset size: 38351
PHOENIX SUNS's 2004 season rolling avg metrics is completed. Dataset size: 38432
PHOENIX SUNS's 2005 season rolling avg metrics is completed. Dataset size: 38513
PHOENIX SUNS's 2006 season rolling avg metrics is completed. Dataset size: 38590
PHOENIX SUNS's 2007 season rolling avg metrics is completed. Dataset size: 38668
PHOENIX SUNS's 2008 season rolling avg metrics is completed. Dataset size: 38749
PHOENIX SUNS's 2009 season rolling avg metrics is completed. Dataset size: 38830
PHOENIX SUNS's 2010 season rolling avg metrics is completed. Dataset size: 38911
PHOENIX SUNS's 2011 season rolling avg metrics is completed. Dataset size: 38992
PHOENIX SUNS's 2012 season rolling avg metrics is completed. Dataset size: 39057

PHOENIX SUNS's 2013 season rolling avg metrics is completed. Dataset size: 39138
PHOENIX SUNS's 2014 season rolling avg metrics is completed. Dataset size: 39219
PHOENIX SUNS's 2015 season rolling avg metrics is completed. Dataset size: 39300
PHOENIX SUNS's 2016 season rolling avg metrics is completed. Dataset size: 39381
PHOENIX SUNS's 2017 season rolling avg metrics is completed. Dataset size: 39462
PHOENIX SUNS's 2018 season rolling avg metrics is completed. Dataset size: 39543
PHOENIX SUNS's 2019 season rolling avg metrics is completed. Dataset size: 39624
PHOENIX SUNS's 2020 season rolling avg metrics is completed. Dataset size: 39688
PORTLAND TRAIL BLAZERS's 1999 season rolling avg metrics is completed. Dataset size: 39750
PORTLAND TRAIL BLAZERS's 2000 season rolling avg metrics is completed. Dataset size: 39831
PORTLAND TRAIL BLAZERS's 2001 season rolling avg metrics is completed. Dataset size: 39912
PORTLAND TRAIL BLAZERS's 2002 season rolling avg metrics is completed. Dataset size: 39993
PORTLAND TRAIL BLAZERS's 2003 season rolling avg metrics is completed. Dataset size: 40074
PORTLAND TRAIL BLAZERS's 2004 season rolling avg metrics is completed. Dataset size: 40155
PORTLAND TRAIL BLAZERS's 2005 season rolling avg metrics is completed. Dataset size: 40236
PORTLAND TRAIL BLAZERS's 2006 season rolling avg metrics is completed. Dataset size: 40313
PORTLAND TRAIL BLAZERS's 2007 season rolling avg metrics is completed. Dataset size: 40391
PORTLAND TRAIL BLAZERS's 2008 season rolling avg metrics is completed. Dataset size: 40472
PORTLAND TRAIL BLAZERS's 2009 season rolling avg metrics is completed. Dataset size: 40553
PORTLAND TRAIL BLAZERS's 2010 season rolling avg metrics is completed. Dataset size: 40634
PORTLAND TRAIL BLAZERS's 2011 season rolling avg metrics is completed. Dataset size: 40715
PORTLAND TRAIL BLAZERS's 2012 season rolling avg metrics is completed. Dataset size: 40780
PORTLAND TRAIL BLAZERS's 2013 season rolling avg metrics is completed. Dataset size: 40861
PORTLAND TRAIL BLAZERS's 2014 season rolling avg metrics is completed. Dataset size: 40942
PORTLAND TRAIL BLAZERS's 2015 season rolling avg metrics is completed. Dataset size: 41023
PORTLAND TRAIL BLAZERS's 2016 season rolling avg metrics is completed. Dataset size: 41104
PORTLAND TRAIL BLAZERS's 2017 season rolling avg metrics is completed. Dataset size: 41185
PORTLAND TRAIL BLAZERS's 2018 season rolling avg metrics is completed. Dataset size: 41266
PORTLAND TRAIL BLAZERS's 2019 season rolling avg metrics is completed. Dataset size: 41347
PORTLAND TRAIL BLAZERS's 2020 season rolling avg metrics is completed. Dataset size: 41412
SACRAMENTO KINGS's 1999 season rolling avg metrics is completed. Dataset size: 41466
SACRAMENTO KINGS's 2000 season rolling avg metrics is completed. Dataset size: 41547
SACRAMENTO KINGS's 2001 season rolling avg metrics is completed. Dataset size: 41628
SACRAMENTO KINGS's 2002 season rolling avg metrics is completed. Dataset size: 41709
SACRAMENTO KINGS's 2003 season rolling avg metrics is completed. Dataset size: 41790
SACRAMENTO KINGS's 2004 season rolling avg metrics is completed. Dataset size: 41871
SACRAMENTO KINGS's 2005 season rolling avg metrics is completed. Dataset size: 41952
SACRAMENTO KINGS's 2006 season rolling avg metrics is completed. Dataset size: 42029
SACRAMENTO KINGS's 2007 season rolling avg metrics is completed. Dataset size: 42106
SACRAMENTO KINGS's 2008 season rolling avg metrics is completed. Dataset size: 42187
SACRAMENTO KINGS's 2009 season rolling avg metrics is completed. Dataset size: 42268
SACRAMENTO KINGS's 2010 season rolling avg metrics is completed. Dataset size: 42349
SACRAMENTO KINGS's 2011 season rolling avg metrics is completed. Dataset size: 42430
SACRAMENTO KINGS's 2012 season rolling avg metrics is completed. Dataset size: 42495
SACRAMENTO KINGS's 2013 season rolling avg metrics is completed. Dataset size: 42576
SACRAMENTO KINGS's 2014 season rolling avg metrics is completed. Dataset size: 42657
SACRAMENTO KINGS's 2015 season rolling avg metrics is completed. Dataset size: 42738
SACRAMENTO KINGS's 2016 season rolling avg metrics is completed. Dataset size: 42819
SACRAMENTO KINGS's 2017 season rolling avg metrics is completed. Dataset size: 42900
SACRAMENTO KINGS's 2018 season rolling avg metrics is completed. Dataset size: 42981
SACRAMENTO KINGS's 2019 season rolling avg metrics is completed. Dataset size: 43062
SACRAMENTO KINGS's 2020 season rolling avg metrics is completed. Dataset size: 43125
SAN ANTONIO SPURS's 1999 season rolling avg metrics is completed. Dataset size: 43191
SAN ANTONIO SPURS's 2000 season rolling avg metrics is completed. Dataset size: 43272
SAN ANTONIO SPURS's 2001 season rolling avg metrics is completed. Dataset size: 43353
SAN ANTONIO SPURS's 2002 season rolling avg metrics is completed. Dataset size: 43434
SAN ANTONIO SPURS's 2003 season rolling avg metrics is completed. Dataset size: 43515
SAN ANTONIO SPURS's 2004 season rolling avg metrics is completed. Dataset size: 43596
SAN ANTONIO SPURS's 2005 season rolling avg metrics is completed. Dataset size: 43677
SAN ANTONIO SPURS's 2006 season rolling avg metrics is completed. Dataset size: 43754
SAN ANTONIO SPURS's 2007 season rolling avg metrics is completed. Dataset size: 43831
SAN ANTONIO SPURS's 2008 season rolling avg metrics is completed. Dataset size: 43912
SAN ANTONIO SPURS's 2009 season rolling avg metrics is completed. Dataset size: 43993
SAN ANTONIO SPURS's 2010 season rolling avg metrics is completed. Dataset size: 44074
SAN ANTONIO SPURS's 2011 season rolling avg metrics is completed. Dataset size: 44155
SAN ANTONIO SPURS's 2012 season rolling avg metrics is completed. Dataset size: 44234
SAN ANTONIO SPURS's 2013 season rolling avg metrics is completed. Dataset size: 44315
SAN ANTONIO SPURS's 2014 season rolling avg metrics is completed. Dataset size: 44396
SAN ANTONIO SPURS's 2015 season rolling avg metrics is completed. Dataset size: 44477
SAN ANTONIO SPURS's 2016 season rolling avg metrics is completed. Dataset size: 44558
SAN ANTONIO SPURS's 2017 season rolling avg metrics is completed. Dataset size: 44638
SAN ANTONIO SPURS's 2018 season rolling avg metrics is completed. Dataset size: 44719
SAN ANTONIO SPURS's 2019 season rolling avg metrics is completed. Dataset size: 44800
SAN ANTONIO SPURS's 2020 season rolling avg metrics is completed. Dataset size: 44862
SEATTLE SUPERSONICS's 1999 season rolling avg metrics is completed. Dataset size: 44911
SEATTLE SUPERSONICS's 2000 season rolling avg metrics is completed. Dataset size: 44992
SEATTLE SUPERSONICS's 2001 season rolling avg metrics is completed. Dataset size: 45073
SEATTLE SUPERSONICS's 2002 season rolling avg metrics is completed. Dataset size: 45154
SEATTLE SUPERSONICS's 2003 season rolling avg metrics is completed. Dataset size: 45235
SEATTLE SUPERSONICS's 2004 season rolling avg metrics is completed. Dataset size: 45316
SEATTLE SUPERSONICS's 2005 season rolling avg metrics is completed. Dataset size: 45397
SEATTLE SUPERSONICS's 2006 season rolling avg metrics is completed. Dataset size: 45474
SEATTLE SUPERSONICS's 2007 season rolling avg metrics is completed. Dataset size: 45551
SEATTLE SUPERSONICS's 2008 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2009 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2010 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2011 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2012 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2013 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2014 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2015 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2016 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2017 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2018 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2019 season rolling avg metrics is completed. Dataset size: 45632
SEATTLE SUPERSONICS's 2020 season rolling avg metrics is completed. Dataset size: 45632

TORONTO RAPTORS's 1999 season rolling avg metrics is completed. Dataset size: 45681
TORONTO RAPTORS's 2000 season rolling avg metrics is completed. Dataset size: 45762
TORONTO RAPTORS's 2001 season rolling avg metrics is completed. Dataset size: 45843
TORONTO RAPTORS's 2002 season rolling avg metrics is completed. Dataset size: 45924
TORONTO RAPTORS's 2003 season rolling avg metrics is completed. Dataset size: 46005
TORONTO RAPTORS's 2004 season rolling avg metrics is completed. Dataset size: 46086
TORONTO RAPTORS's 2005 season rolling avg metrics is completed. Dataset size: 46167
TORONTO RAPTORS's 2006 season rolling avg metrics is completed. Dataset size: 46246
TORONTO RAPTORS's 2007 season rolling avg metrics is completed. Dataset size: 46325
TORONTO RAPTORS's 2008 season rolling avg metrics is completed. Dataset size: 46406
TORONTO RAPTORS's 2009 season rolling avg metrics is completed. Dataset size: 46487
TORONTO RAPTORS's 2010 season rolling avg metrics is completed. Dataset size: 46568
TORONTO RAPTORS's 2011 season rolling avg metrics is completed. Dataset size: 46649
TORONTO RAPTORS's 2012 season rolling avg metrics is completed. Dataset size: 46714
TORONTO RAPTORS's 2013 season rolling avg metrics is completed. Dataset size: 46795
TORONTO RAPTORS's 2014 season rolling avg metrics is completed. Dataset size: 46876
TORONTO RAPTORS's 2015 season rolling avg metrics is completed. Dataset size: 46957
TORONTO RAPTORS's 2016 season rolling avg metrics is completed. Dataset size: 47038
TORONTO RAPTORS's 2017 season rolling avg metrics is completed. Dataset size: 47119
TORONTO RAPTORS's 2018 season rolling avg metrics is completed. Dataset size: 47200
TORONTO RAPTORS's 2019 season rolling avg metrics is completed. Dataset size: 47281
TORONTO RAPTORS's 2020 season rolling avg metrics is completed. Dataset size: 47344
UTAH JAZZ's 1999 season rolling avg metrics is completed. Dataset size: 47404
UTAH JAZZ's 2000 season rolling avg metrics is completed. Dataset size: 47485
UTAH JAZZ's 2001 season rolling avg metrics is completed. Dataset size: 47566
UTAH JAZZ's 2002 season rolling avg metrics is completed. Dataset size: 47647
UTAH JAZZ's 2003 season rolling avg metrics is completed. Dataset size: 47728
UTAH JAZZ's 2004 season rolling avg metrics is completed. Dataset size: 47809
UTAH JAZZ's 2005 season rolling avg metrics is completed. Dataset size: 47890
UTAH JAZZ's 2006 season rolling avg metrics is completed. Dataset size: 47967
UTAH JAZZ's 2007 season rolling avg metrics is completed. Dataset size: 48045
UTAH JAZZ's 2008 season rolling avg metrics is completed. Dataset size: 48126
UTAH JAZZ's 2009 season rolling avg metrics is completed. Dataset size: 48207
UTAH JAZZ's 2010 season rolling avg metrics is completed. Dataset size: 48288
UTAH JAZZ's 2011 season rolling avg metrics is completed. Dataset size: 48369
UTAH JAZZ's 2012 season rolling avg metrics is completed. Dataset size: 48438
UTAH JAZZ's 2013 season rolling avg metrics is completed. Dataset size: 48519
UTAH JAZZ's 2014 season rolling avg metrics is completed. Dataset size: 48600
UTAH JAZZ's 2015 season rolling avg metrics is completed. Dataset size: 48681
UTAH JAZZ's 2016 season rolling avg metrics is completed. Dataset size: 48762
UTAH JAZZ's 2017 season rolling avg metrics is completed. Dataset size: 48843
UTAH JAZZ's 2018 season rolling avg metrics is completed. Dataset size: 48924
UTAH JAZZ's 2019 season rolling avg metrics is completed. Dataset size: 49005
UTAH JAZZ's 2020 season rolling avg metrics is completed. Dataset size: 49068
VANCOUVER GRIZZLIES's 1999 season rolling avg metrics is completed. Dataset size: 49117
VANCOUVER GRIZZLIES's 2000 season rolling avg metrics is completed. Dataset size: 49198
VANCOUVER GRIZZLIES's 2001 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2002 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2003 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2004 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2005 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2006 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2007 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2008 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2009 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2010 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2011 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2012 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2013 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2014 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2015 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2016 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2017 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2018 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2019 season rolling avg metrics is completed. Dataset size: 49279
VANCOUVER GRIZZLIES's 2020 season rolling avg metrics is completed. Dataset size: 49279
WASHINGTON WIZARDS's 1999 season rolling avg metrics is completed. Dataset size: 49328
WASHINGTON WIZARDS's 2000 season rolling avg metrics is completed. Dataset size: 49409
WASHINGTON WIZARDS's 2001 season rolling avg metrics is completed. Dataset size: 49490
WASHINGTON WIZARDS's 2002 season rolling avg metrics is completed. Dataset size: 49571
WASHINGTON WIZARDS's 2003 season rolling avg metrics is completed. Dataset size: 49652
WASHINGTON WIZARDS's 2004 season rolling avg metrics is completed. Dataset size: 49733
WASHINGTON WIZARDS's 2005 season rolling avg metrics is completed. Dataset size: 49814
WASHINGTON WIZARDS's 2006 season rolling avg metrics is completed. Dataset size: 49893
WASHINGTON WIZARDS's 2007 season rolling avg metrics is completed. Dataset size: 49972
WASHINGTON WIZARDS's 2008 season rolling avg metrics is completed. Dataset size: 50053
WASHINGTON WIZARDS's 2009 season rolling avg metrics is completed. Dataset size: 50134
WASHINGTON WIZARDS's 2010 season rolling avg metrics is completed. Dataset size: 50215
WASHINGTON WIZARDS's 2011 season rolling avg metrics is completed. Dataset size: 50296
WASHINGTON WIZARDS's 2012 season rolling avg metrics is completed. Dataset size: 50361
WASHINGTON WIZARDS's 2013 season rolling avg metrics is completed. Dataset size: 50442
WASHINGTON WIZARDS's 2014 season rolling avg metrics is completed. Dataset size: 50523
WASHINGTON WIZARDS's 2015 season rolling avg metrics is completed. Dataset size: 50604
WASHINGTON WIZARDS's 2016 season rolling avg metrics is completed. Dataset size: 50685
WASHINGTON WIZARDS's 2017 season rolling avg metrics is completed. Dataset size: 50766
WASHINGTON WIZARDS's 2018 season rolling avg metrics is completed. Dataset size: 50847
WASHINGTON WIZARDS's 2019 season rolling avg metrics is completed. Dataset size: 50928
WASHINGTON WIZARDS's 2020 season rolling avg metrics is completed. Dataset size: 50991

In [20]:
box_score_advanced_roll8.head()

,team1,season,game_number_team1,ortg_team1,ast%_team1,ts%_team1,efg%_team1,poss_team1,dreb%_team1,oreb%_team1,...,ast%_team1_opp,ts%_team1_opp,efg%_team1_opp,poss_team1_opp,dreb%_team1_opp,oreb%_team1_opp,stl%_team1_opp,blk%_team1_opp,tov%_team1_opp,ft%_team1_opp
0,ATLANTA HAWKS,1999,2,109.649123,0.484848,0.556050,0.478873,91.200000,0.682927,0.285714,...,0.468750,0.455044,0.416667,94.00,0.714286,0.317073,0.120614,0.000000,0.180851,0.600000
1,ATLANTA HAWKS,1999,3,114.501981,0.492424,0.578350,0.478073,92.100000,0.660612,0.330357,...,0.418586,0.473530,0.422619,96.10,0.669643,0.339388,0.097941,0.016129,0.136250,0.668421
2,ATLANTA HAWKS,1999,4,101.498768,0.458718,0.514144,0.421279,91.866667,0.636487,0.331349,...,0.484185,0.481264,0.420208,92.80,0.668651,0.363513,0.087176,0.047222,0.175907,0.698139
3,ATLANTA HAWKS,1999,5,101.532954,0.465250,0.517012,0.439174,90.300000,0.642365,0.339421,...,0.503764,0.456214,0.409983,91.25,0.660579,0.357635,0.088747,0.052940,0.163685,0.612890
4,ATLANTA HAWKS,1999,6,103.498078,0.495277,0.521044,0.451339,90.200000,0.690636,0.331537,...,0.505714,0.459554,0.416359,92.08,0.668463,0.309364,0.082133,0.055715,0.147720,0.640312

In [21]:
box_score_advanced_roll8['season_game_team1_id']=box_score_advanced_roll8['team1'] + '-' + box_score_advanced_roll8['season'].apply(str) + '-' + box_score_advanced_roll8['game_number_team1'].apply(str)
box_score_advanced_roll8_team2 = box_score_advanced_roll8.copy(deep=True)
box_score_advanced_roll8_team2 = box_score_advanced_roll8_team2.rename(columns={
                                                                       'season_game_team1_id':'season_game_team2_id',
                                                                       'ortg_team1':'ortg_team2',
                                                                       'ast%_team1':'ast%_team2',
                                                                       'ts%_team1':'ts%_team2',
                                                                       'efg%_team1':'efg%_team2', 
                                                                       'poss_team1':'poss_team2',
                                                                       'dreb%_team1':'dreb%_team2',
                                                                       'oreb%_team1':'oreb%_team2',
                                                                       'stl%_team1':'stl%_team2',
                                                                       'blk%_team1':'blk%_team2',
                                                                       'tov%_team1':'tov%_team2',
                                                                       'ft%_team1':'ft%_team2',
                                                                       'win%_roll8_team1':'win%_roll8_team2',
                                                                       'ortg_team1_opp':'ortg_team2_opp',
                                                                       'ast%_team1_opp':'ast%_team2_opp',
                                                                       'ts%_team1_opp':'ts%_team2_opp',
                                                                       'efg%_team1_opp':'efg%_team2_opp', 
                                                                       'poss_team1_opp':'poss_team2_opp',
                                                                       'dreb%_team1_opp':'dreb%_team2_opp',
                                                                       'oreb%_team1_opp':'oreb%_team2_opp',
                                                                       'stl%_team1_opp':'stl%_team2_opp', 
                                                                       'blk%_team1_opp':'blk%_team2_opp', 
                                                                       'tov%_team1_opp':'tov%_team2_opp',
                                                                       'ft%_team1_opp':'ft%_team2_opp'
                                                                        })
box_score_advanced_roll8_team2.head()

,team1,season,game_number_team1,ortg_team2,ast%_team2,ts%_team2,efg%_team2,poss_team2,dreb%_team2,oreb%_team2,...,ts%_team2_opp,efg%_team2_opp,poss_team2_opp,dreb%_team2_opp,oreb%_team2_opp,stl%_team2_opp,blk%_team2_opp,tov%_team2_opp,ft%_team2_opp,season_game_team2_id
0,ATLANTA HAWKS,1999,2,109.649123,0.484848,0.556050,0.478873,91.200000,0.682927,0.285714,...,0.455044,0.416667,94.00,0.714286,0.317073,0.120614,0.000000,0.180851,0.600000,ATLANTA HAWKS-1999-2
1,ATLANTA HAWKS,1999,3,114.501981,0.492424,0.578350,0.478073,92.100000,0.660612,0.330357,...,0.473530,0.422619,96.10,0.669643,0.339388,0.097941,0.016129,0.136250,0.668421,ATLANTA HAWKS-1999-3
2,ATLANTA HAWKS,1999,4,101.498768,0.458718,0.514144,0.421279,91.866667,0.636487,0.331349,...,0.481264,0.420208,92.80,0.668651,0.363513,0.087176,0.047222,0.175907,0.698139,ATLANTA HAWKS-1999-4
3,ATLANTA HAWKS,1999,5,101.532954,0.465250,0.517012,0.439174,90.300000,0.642365,0.339421,...,0.456214,0.409983,91.25,0.660579,0.357635,0.088747,0.052940,0.163685,0.612890,ATLANTA HAWKS-1999-5
4,ATLANTA HAWKS,1999,6,103.498078,0.495277,0.521044,0.451339,90.200000,0.690636,0.331537,...,0.459554,0.416359,92.08,0.668463,0.309364,0.082133,0.055715,0.147720,0.640312,ATLANTA HAWKS-1999-6

In [22]:
win_pct_df = box_score_advanced[['game_id_team1', 
                                 'win%_team1','homeaway_win%_team1','b2bbreak_win%_team1', 'travel_win%_team1',
                                 'win%_team1_opp','homeaway_win%_team1_opp','b2bbreak_win%_team1_opp', 'travel_win%_team1_opp']]
win_pct_df_team2 = win_pct_df.copy(deep=True)
win_pct_df_team2 = win_pct_df_team2.rename(columns = {
                                            'game_id_team1':'game_id_team2', 
                                            'win%_team1':'win%_team2',
                                            'homeaway_win%_team1':'homeaway_win%_team2',
                                            'b2bbreak_win%_team1':'b2bbreak_win%_team2',
                                            'travel_win%_team1':'travel_win%_team2',
                                            'win%_team1_opp':'win%_team2_opp',
                                            'homeaway_win%_team1_opp':'homeaway_win%_team2_opp',
                                            'b2bbreak_win%_team1_opp':'b2bbreak_win%_team2_opp',
                                            'travel_win%_team1_opp':'travel_win%_team2_opp'
                                            })

In [23]:
game_live_results = pd.read_csv('all_season_results_final.csv')
game_live_results = game_live_results[['team1','season','team2','game_number_team1','game_number_team2','win_flag_team1']] 
game_live_results['season_game_team1_id'] = game_live_results['team1'] + '-' + game_live_results['season'].apply(str) + '-' + game_live_results['game_number_team1'].apply(str)
game_live_results['season_game_team2_id'] = game_live_results['team2'] + '-' + game_live_results['season'].apply(str) + '-' + game_live_results['game_number_team2'].apply(str)
final_df = game_live_results.merge(box_score_advanced_roll8, how = 'inner',  left_on='season_game_team1_id', right_on='season_game_team1_id')
final_df = final_df.merge(win_pct_df, how = 'inner',  left_on='season_game_team1_id', right_on='game_id_team1')
final_df = final_df.merge(box_score_advanced_roll8_team2, how = 'inner',  left_on='season_game_team2_id', right_on='season_game_team2_id')
final_df = final_df.merge(win_pct_df_team2, how = 'inner',  left_on='season_game_team2_id', right_on='game_id_team2')
final_df.head()

,team1_x,season_x,team2,game_number_team1_x,game_number_team2,win_flag_team1,season_game_team1_id,season_game_team2_id,team1_y,season_y,...,ft%_team2_opp,game_id_team2,win%_team2,homeaway_win%_team2,b2bbreak_win%_team2,travel_win%_team2,win%_team2_opp,homeaway_win%_team2_opp,b2bbreak_win%_team2_opp,travel_win%_team2_opp
0,ATLANTA HAWKS,1999,NEW JERSEY NETS,3,2,0,ATLANTA HAWKS-1999-3,NEW JERSEY NETS-1999-2,ATLANTA HAWKS,1999,...,0.800000,NEW JERSEY NETS-1999-2,0.00,0.000000,0.000000,0.0,1.000000,0.000000,1.00,0.000000
1,ATLANTA HAWKS,1999,CHICAGO BULLS,4,3,1,ATLANTA HAWKS-1999-4,CHICAGO BULLS-1999-3,ATLANTA HAWKS,1999,...,0.812857,CHICAGO BULLS-1999-3,0.50,0.000000,0.500000,0.5,0.666667,0.000000,1.00,0.000000
2,ATLANTA HAWKS,1999,CHARLOTTE HORNETS,5,5,1,ATLANTA HAWKS-1999-5,CHARLOTTE HORNETS-1999-5,ATLANTA HAWKS,1999,...,0.725852,CHARLOTTE HORNETS-1999-5,0.25,0.000000,0.000000,0.0,0.750000,1.000000,1.00,0.500000
3,ATLANTA HAWKS,1999,PHILADELPHIA 76ERS,6,5,0,ATLANTA HAWKS-1999-6,PHILADELPHIA 76ERS-1999-5,ATLANTA HAWKS,1999,...,0.593750,PHILADELPHIA 76ERS-1999-5,0.75,0.666667,0.666667,0.5,0.800000,0.500000,1.00,0.666667
4,ATLANTA HAWKS,1999,CHICAGO BULLS,7,6,1,ATLANTA HAWKS-1999-7,CHICAGO BULLS-1999-6,ATLANTA HAWKS,1999,...,0.709501,CHICAGO BULLS-1999-6,0.20,0.000000,0.200000,0.0,0.666667,0.333333,0.75,0.500000

In [24]:
final_df.to_csv('final_game_results.csv')